node-red/flows.json
[
    {
        "id": "7ff70df2.c31d34",
        "type": "tab",
        "label": "TCP link to Ion",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9faa685a.bcf418",
        "type": "tab",
        "label": "UDP Links",
        "disabled": true,
        "info": ""
    },
    {
        "id": "a25232c.d7f4bd",
        "type": "tab",
        "label": "Process OSC",
        "disabled": true,
        "info": ""
    },
    {
        "id": "b2bf3a30.c27e68",
        "type": "tab",
        "label": "Websockets",
        "disabled": true,
        "info": ""
    },
    {
        "id": "cff82739.e83038",
        "type": "tab",
        "label": "Logging",
        "disabled": true,
        "info": ""
    },
    {
        "id": "110ab74.7b1be49",
        "type": "tab",
        "label": "UI - Buttons",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4a1526ee.e89738",
        "type": "tab",
        "label": "UI - Status",
        "disabled": true,
        "info": ""
    },
    {
        "id": "f187f982.e8db08",
        "type": "tab",
        "label": "UI - Faders",
        "disabled": true,
        "info": ""
    },
    {
        "id": "2f7fba11.8c0446",
        "type": "tab",
        "label": "Testing - offline",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6e0fbbca.0dc514",
        "type": "tab",
        "label": "Ion Power",
        "disabled": true,
        "info": ""
    },
    {
        "id": "ca79fc01.131a7",
        "type": "tab",
        "label": "OSC Discovery",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9ebef505.81b038",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "d91d3fb4.1bfc7",
        "type": "subflow",
        "name": "OSC to JSON",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "809501fc.734ef"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 80,
                "wires": [
                    {
                        "id": "6fef2341.976fdc",
                        "port": 0
                    }
                ]
            }
        ],
        "inputLabels": [
            "OSC"
        ],
        "outputLabels": [
            "JSON"
        ]
    },
    {
        "id": "2f6c2edb.691352",
        "type": "subflow",
        "name": "TCP to OSC",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "25254f6e.8762a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 80,
                "wires": [
                    {
                        "id": "d2516141.432b8",
                        "port": 0
                    }
                ]
            }
        ],
        "inputLabels": [
            "Raw TCP"
        ],
        "outputLabels": [
            "OSC"
        ]
    },
    {
        "id": "20339bd4.4031d4",
        "type": "subflow",
        "name": "OSC to TCP",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "890cc00c.ada35"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 60,
                "wires": [
                    {
                        "id": "21fc315b.3b819e",
                        "port": 0
                    }
                ]
            }
        ],
        "inputLabels": [
            "OSC"
        ],
        "outputLabels": [
            "Raw TCP"
        ]
    },
    {
        "id": "3022915b.90229e",
        "type": "subflow",
        "name": "JSON to OSC",
        "info": "",
        "in": [
            {
                "x": 160,
                "y": 60,
                "wires": [
                    {
                        "id": "bc411802.af0098"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 60,
                "wires": [
                    {
                        "id": "4042c583.30152c",
                        "port": 0
                    }
                ]
            }
        ],
        "inputLabels": [
            "JSON"
        ],
        "outputLabels": [
            "OSC"
        ]
    },
    {
        "id": "ffb8a002.a4689",
        "type": "websocket-client",
        "z": "9faa685a.bcf418",
        "path": "ws://localhost:8081",
        "wholemsg": "false"
    },
    {
        "id": "dc634fee.af92a",
        "type": "websocket-listener",
        "z": "b2bf3a30.c27e68",
        "path": "/ws/osc2",
        "wholemsg": "false"
    },
    {
        "id": "e91497e9.8ba968",
        "type": "ui_tab",
        "z": 0,
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "69c0f85e.2c3638",
        "type": "ui_tab",
        "z": 0,
        "name": "Status",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "566b5c6c.d4ef64",
        "type": "ui_tab",
        "z": 0,
        "name": "Faders",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "3b2655d6.d3e40a",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "e91497e9.8ba968",
        "order": 2,
        "disp": false,
        "width": "5"
    },
    {
        "id": "db3b9323.46564",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "69c0f85e.2c3638",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "347b17e6.b38c58",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "566b5c6c.d4ef64",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "c5fc7f55.fe43e",
        "type": "ui_base",
        "z": 0,
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6caf20e6.a42ae",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/osc",
        "wholemsg": "false"
    },
    {
        "id": "343cc0bc.9a8fc",
        "type": "tcp out",
        "z": "7ff70df2.c31d34",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "7b9af8bf.12ff98",
        "type": "debug",
        "z": "7ff70df2.c31d34",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "c9b780e2.8a092",
        "type": "tcp in",
        "z": "7ff70df2.c31d34",
        "name": "",
        "server": "client",
        "host": "10.101.100.101",
        "port": "3032",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "!",
        "topic": "",
        "base64": false,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "f0a401fc.4ad02",
                "d7b53fef.dc7a6",
                "55a1cd6.e9e0b34"
            ]
        ]
    },
    {
        "id": "f0a401fc.4ad02",
        "type": "debug",
        "z": "7ff70df2.c31d34",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "25827b57.4100e4",
        "type": "comment",
        "z": "7ff70df2.c31d34",
        "name": "EOS Ion",
        "info": "IP address: 10.101.100.101\nOSC TCP port: 3032\naRFR (OSC) port: 3036\n",
        "x": 77,
        "y": 403,
        "wires": []
    },
    {
        "id": "15a1b35c.fc919d",
        "type": "comment",
        "z": "7ff70df2.c31d34",
        "name": "Raspberry Pi (wired, LX network)",
        "info": "IP: 10.101.1.6\nNode Red port: 1880\n",
        "x": 310,
        "y": 420,
        "wires": []
    },
    {
        "id": "2e6ad320.eaacfc",
        "type": "function",
        "z": "7ff70df2.c31d34",
        "name": "split OSC-over-TCP v.1.0",
        "func": "node.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"last block: N/A, total: 0\"});\n});\n\nvar i=0;\nvar output=[];\nwhile (i < msg.payload.length) {\n    var len = (msg.payload[i]<<24) + (msg.payload[i+1]<<16) + (msg.payload[i+2]<<8) + msg.payload[i+3];\n    i += 4;\n    // var buf = Buffer.allocUnsafe(len);\n    var buf = new Buffer(len);\n    msg.payload.copy(buf,0,i,i+len);\n    // output.push({payload:buf, filename:\"/home/pi/osc/msg\"+output.length+\".dat\"});\n    output.push({payload:buf});\n    i += len;\n}\nvar count=context.get(\"count\")||0;\ncount+=output.length;\ncontext.set(\"count\",count);\nnode.status({text:\"last block: \"+output.length+\", total: \"+count});\nreturn [ output ];",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "e98e88ab.5606e8"
            ]
        ]
    },
    {
        "id": "bdada7d7.4d73a8",
        "type": "osc",
        "z": "7ff70df2.c31d34",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "602adb84.0fd704"
            ]
        ]
    },
    {
        "id": "60e25876.0e0b58",
        "type": "inject",
        "z": "7ff70df2.c31d34",
        "name": "",
        "topic": "/eos/out/pending/cue/text",
        "payload": "1/1 Preset 5.00",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "bdada7d7.4d73a8"
            ]
        ]
    },
    {
        "id": "602adb84.0fd704",
        "type": "debug",
        "z": "7ff70df2.c31d34",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 430,
        "y": 560,
        "wires": []
    },
    {
        "id": "e98e88ab.5606e8",
        "type": "link out",
        "z": "7ff70df2.c31d34",
        "name": "OSC RX In",
        "links": [
            "7a30e7bd.098018",
            "cddd1350.9929",
            "75d9d8c2.2580d8",
            "aa6a072c.f71828",
            "45c977fc.7e4648",
            "a4e79248.3010a",
            "f0123831.611fc8",
            "483f9301.3d8a6c",
            "c3e00837.b4c448",
            "cfd4d92d.3bfa38"
        ],
        "x": 795,
        "y": 280,
        "wires": []
    },
    {
        "id": "45c5b7c8.43abf8",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 135,
        "y": 220,
        "wires": []
    },
    {
        "id": "47e201f8.9db8b",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 695,
        "y": 260,
        "wires": []
    },
    {
        "id": "7bd6ed35.379054",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 415,
        "y": 260,
        "wires": []
    },
    {
        "id": "1d0a0c58.474514",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 135,
        "y": 260,
        "wires": []
    },
    {
        "id": "7533b553.06e67c",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 415,
        "y": 220,
        "wires": []
    },
    {
        "id": "54b4498b.528918",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 695,
        "y": 220,
        "wires": []
    },
    {
        "id": "a17e4f73.ab028",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 135,
        "y": 180,
        "wires": []
    },
    {
        "id": "771cdc29.c0cf54",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 415,
        "y": 180,
        "wires": []
    },
    {
        "id": "d8371ff3.fbce",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 695,
        "y": 180,
        "wires": []
    },
    {
        "id": "65f26604.d37088",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 415,
        "y": 300,
        "wires": []
    },
    {
        "id": "5f2d296d.bf8da8",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 135,
        "y": 140,
        "wires": []
    },
    {
        "id": "95f0f50c.a69f98",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 695,
        "y": 140,
        "wires": []
    },
    {
        "id": "55f093b0.b025fc",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 415,
        "y": 140,
        "wires": []
    },
    {
        "id": "ced379c6.2aa198",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 135,
        "y": 300,
        "wires": []
    },
    {
        "id": "e207cec9.9639d",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 695,
        "y": 300,
        "wires": []
    },
    {
        "id": "ada2a52e.c08528",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 135,
        "y": 340,
        "wires": []
    },
    {
        "id": "16f637ae.7ed658",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 135,
        "y": 380,
        "wires": []
    },
    {
        "id": "1f43ac0e.039da4",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 135,
        "y": 420,
        "wires": []
    },
    {
        "id": "419b5578.cbd2dc",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 135,
        "y": 460,
        "wires": []
    },
    {
        "id": "fb8d00d4.4e31a",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 135,
        "y": 500,
        "wires": []
    },
    {
        "id": "2cb39939.b6dd16",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 415,
        "y": 340,
        "wires": []
    },
    {
        "id": "b8f2fb5.e1b3508",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 415,
        "y": 380,
        "wires": []
    },
    {
        "id": "26b4f650.dac94a",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 415,
        "y": 420,
        "wires": []
    },
    {
        "id": "71f6ef35.9778c",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 415,
        "y": 460,
        "wires": []
    },
    {
        "id": "1d116091.c17cef",
        "type": "link out",
        "z": "110ab74.7b1be49",
        "name": "OSC Button",
        "links": [
            "e8227f90.d18f7",
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 515,
        "y": 500,
        "wires": []
    },
    {
        "id": "4c9e757f.bae8ec",
        "type": "switch",
        "z": "4a1526ee.e89738",
        "name": "/eos/out/user",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/out/user",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "8e35e217.6979d"
            ]
        ]
    },
    {
        "id": "2d1fdb50.8b16b4",
        "type": "function",
        "z": "4a1526ee.e89738",
        "name": "Live / Blind",
        "func": "var label = \"State\";\nif (msg.payload === \"\") {\n    msg.payload=\"<i>[\"+label+\"]</i>\";\n    node.status({fill:\"green\",shape:\"ring\",text:\"[\"+label+\"]\"});\n} else if (msg.payload === 1) {\n    msg.payload = \"Live\";\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n} else if (msg.payload === 0) {\n    msg.payload = \"Blind\";\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "b9cc6e97.7fd17"
            ]
        ]
    },
    {
        "id": "f3120e0c.ce07b",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "OSC Status Out",
        "links": [
            "7f293a91.4a4304",
            "5843e1f4.1e635",
            "7a43e2a5.2b75ac",
            "86ce733.216c89"
        ],
        "x": 155,
        "y": 40,
        "wires": [
            [
                "4c9e757f.bae8ec"
            ]
        ]
    },
    {
        "id": "720ab203.90a76c",
        "type": "switch",
        "z": "4a1526ee.e89738",
        "name": "/eos/out/pending/cue/text",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/out/pending/cue/text",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "ea66ae31.bec49"
            ]
        ]
    },
    {
        "id": "9d4581c1.7a1a9",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "OSC Status Out",
        "links": [
            "7f293a91.4a4304",
            "5843e1f4.1e635",
            "7a43e2a5.2b75ac",
            "86ce733.216c89"
        ],
        "x": 155,
        "y": 340,
        "wires": [
            [
                "720ab203.90a76c"
            ]
        ]
    },
    {
        "id": "3148c47f.c9f6fc",
        "type": "link in",
        "z": "7ff70df2.c31d34",
        "name": "OSC Tx Out",
        "links": [
            "f216833.fc9148",
            "3ac1990c.c9f496",
            "49e3ae89.3870f",
            "469df9ee.fd60b8",
            "c8f7d888.b88c28"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "f7f8bc0f.b0b95"
            ]
        ]
    },
    {
        "id": "f7f8bc0f.b0b95",
        "type": "function",
        "z": "7ff70df2.c31d34",
        "name": "format OSC-over-TCP v.1.0",
        "func": "node.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"total: 0\"});\n});\n\nvar len = msg.payload.length;\n// var buf = Buffer.allocUnsafe(len);\nvar buf = new Buffer(len+4);\n// [i]<<24) + (msg.payload[i+1]<<16) + (msg.payload[i+2]<<8) + msg.payload[i+3];\nbuf[0] = (len>>24) & 255;\nbuf[1] = (len>>16) & 255;\nbuf[2] = (len>>8) & 255;\nbuf[3] = len & 255;\nmsg.payload.copy(buf,4,0,len);\nmsg.payload = buf;\n\nvar count=context.get(\"count\")||0;\ncount++;\ncontext.set(\"count\",count);\nnode.status({text:\"total: \"+count});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "7b9af8bf.12ff98",
                "a66f8867.a54118",
                "ddfd79da.b16638"
            ]
        ]
    },
    {
        "id": "bbe8b48f.c6d418",
        "type": "udp in",
        "z": "9faa685a.bcf418",
        "name": "",
        "iface": "",
        "port": "10000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "246cae0.dff6e52",
                "4ac18a9c.37abb4"
            ]
        ]
    },
    {
        "id": "bb6a1539.05f2c8",
        "type": "udp out",
        "z": "9faa685a.bcf418",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "8080",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "246cae0.dff6e52",
        "type": "debug",
        "z": "9faa685a.bcf418",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "2e9f8eef.d41692",
        "type": "function",
        "z": "2f7fba11.8c0446",
        "name": "to String",
        "func": "msg.payload = msg.payload.toString('ascii');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "5d342ac5.bd00d4",
                "691b41f7.a490c"
            ]
        ]
    },
    {
        "id": "5d342ac5.bd00d4",
        "type": "debug",
        "z": "2f7fba11.8c0446",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "9337aabf.339c28",
        "type": "file in",
        "z": "2f7fba11.8c0446",
        "name": "",
        "filename": "",
        "format": "",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "33941ec1.9e3812",
                "2e9f8eef.d41692",
                "eeacac6b.1289e"
            ]
        ]
    },
    {
        "id": "a74276e1.571e68",
        "type": "osc",
        "z": "2f7fba11.8c0446",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "eeacac6b.1289e",
                "2e9f8eef.d41692",
                "33941ec1.9e3812"
            ]
        ]
    },
    {
        "id": "75d9d8c2.2580d8",
        "type": "link in",
        "z": "2f7fba11.8c0446",
        "name": "OSC RX Out",
        "links": [
            "e98e88ab.5606e8"
        ],
        "x": 355,
        "y": 140,
        "wires": [
            [
                "33941ec1.9e3812",
                "eeacac6b.1289e",
                "2e9f8eef.d41692"
            ]
        ]
    },
    {
        "id": "33941ec1.9e3812",
        "type": "debug",
        "z": "2f7fba11.8c0446",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "eeacac6b.1289e",
        "type": "osc",
        "z": "2f7fba11.8c0446",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "fffb91e4.93ed1",
                "909449f5.1383d8"
            ]
        ]
    },
    {
        "id": "26f80ad7.1264f6",
        "type": "change",
        "z": "2f7fba11.8c0446",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "9337aabf.339c28"
            ]
        ]
    },
    {
        "id": "f7865594.dcad48",
        "type": "function",
        "z": "2f7fba11.8c0446",
        "name": "set type to i",
        "func": "msg.payload={type:\"i\", value:msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "a74276e1.571e68"
            ]
        ]
    },
    {
        "id": "fffb91e4.93ed1",
        "type": "debug",
        "z": "2f7fba11.8c0446",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "45e7af90.66f87",
        "type": "inject",
        "z": "2f7fba11.8c0446",
        "name": "",
        "topic": "",
        "payload": "/home/pi/osc/msg0.dat",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "26f80ad7.1264f6"
            ]
        ]
    },
    {
        "id": "9c28d867.1917c8",
        "type": "inject",
        "z": "2f7fba11.8c0446",
        "name": "",
        "topic": "/eos/out/user",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "f7865594.dcad48"
            ]
        ]
    },
    {
        "id": "f24c6d4c.03676",
        "type": "switch",
        "z": "4a1526ee.e89738",
        "name": "/eos/out/active/cue/text",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/out/active/cue/text",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "cbd86e6a.3e955"
            ]
        ]
    },
    {
        "id": "5a168a2a.70b984",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "OSC Status Out",
        "links": [
            "7f293a91.4a4304",
            "5843e1f4.1e635",
            "7a43e2a5.2b75ac",
            "86ce733.216c89"
        ],
        "x": 155,
        "y": 280,
        "wires": [
            [
                "f24c6d4c.03676"
            ]
        ]
    },
    {
        "id": "691b41f7.a490c",
        "type": "debug",
        "z": "2f7fba11.8c0446",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "805c7817.ca8298",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "OSC Status Out",
        "links": [
            "5843e1f4.1e635",
            "7a43e2a5.2b75ac",
            "86ce733.216c89"
        ],
        "x": 155,
        "y": 220,
        "wires": [
            [
                "7bf88bcc.c492b4"
            ]
        ]
    },
    {
        "id": "7bf88bcc.c492b4",
        "type": "switch",
        "z": "4a1526ee.e89738",
        "name": "/eos/out/cmd",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/out/cmd",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "1ef276c.0520789"
            ]
        ]
    },
    {
        "id": "bb4df87d.0c1228",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "OSC Status Out",
        "links": [
            "5843e1f4.1e635",
            "7a43e2a5.2b75ac",
            "86ce733.216c89"
        ],
        "x": 155,
        "y": 160,
        "wires": [
            [
                "8c36d262.3a77f"
            ]
        ]
    },
    {
        "id": "8c36d262.3a77f",
        "type": "switch",
        "z": "4a1526ee.e89738",
        "name": "/eos/out/show/name",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/out/show/name",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "8488bb19.a3fec8"
            ]
        ]
    },
    {
        "id": "27d58b57.bee884",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "OSC Status Out",
        "links": [
            "5843e1f4.1e635",
            "7a43e2a5.2b75ac",
            "86ce733.216c89"
        ],
        "x": 155,
        "y": 100,
        "wires": [
            [
                "f0c3b9b8.aab108"
            ]
        ]
    },
    {
        "id": "f0c3b9b8.aab108",
        "type": "switch",
        "z": "4a1526ee.e89738",
        "name": "/eos/out/event/state",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/out/event/state",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "2d1fdb50.8b16b4"
            ]
        ]
    },
    {
        "id": "8488bb19.a3fec8",
        "type": "function",
        "z": "4a1526ee.e89738",
        "name": "Label when blank",
        "func": "var label = \"Show Name\";\nif (msg.payload === \"\") {\n    msg.payload=\"<i>[\"+label+\"]</i>\";\n    node.status({fill:\"green\",shape:\"ring\",text:\"[\"+label+\"]\"});\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "60aa0520.a0c04c"
            ]
        ]
    },
    {
        "id": "a2b7dcc2.5edfe",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "Blank Status",
        "links": [
            "2086666f.2de4ea",
            "3a24e62.6cf1f1a"
        ],
        "x": 435,
        "y": 180,
        "wires": [
            [
                "8488bb19.a3fec8"
            ]
        ]
    },
    {
        "id": "1ef276c.0520789",
        "type": "function",
        "z": "4a1526ee.e89738",
        "name": "Label when blank",
        "func": "var label = \"Command Line\";\nif (msg.payload === \"\") {\n    msg.payload=\"<i>[\"+label+\"]</i>\";\n    node.status({fill:\"green\",shape:\"ring\",text:\"[\"+label+\"]\"});\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "5807ca14.a7c964"
            ]
        ]
    },
    {
        "id": "bda68ca2.ea814",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "Blank Status",
        "links": [
            "2086666f.2de4ea",
            "3a24e62.6cf1f1a"
        ],
        "x": 435,
        "y": 240,
        "wires": [
            [
                "1ef276c.0520789"
            ]
        ]
    },
    {
        "id": "fe6ade64.a5c44",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "Blank Status",
        "links": [
            "2086666f.2de4ea",
            "3a24e62.6cf1f1a"
        ],
        "x": 435,
        "y": 120,
        "wires": [
            [
                "2d1fdb50.8b16b4"
            ]
        ]
    },
    {
        "id": "8e35e217.6979d",
        "type": "function",
        "z": "4a1526ee.e89738",
        "name": "Show status",
        "func": "if (msg.payload === \"\") {\n    node.status({fill:\"green\",shape:\"ring\",text:\"[blank]\"});\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:\"User: \"+msg.payload});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 40,
        "wires": [
            [
                "3225a5e3.a130ba"
            ]
        ]
    },
    {
        "id": "95a6cacb.ac4f58",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "Blank Status",
        "links": [
            "2086666f.2de4ea",
            "3a24e62.6cf1f1a"
        ],
        "x": 435,
        "y": 60,
        "wires": [
            [
                "8e35e217.6979d"
            ]
        ]
    },
    {
        "id": "cbd86e6a.3e955",
        "type": "function",
        "z": "4a1526ee.e89738",
        "name": "Label when blank",
        "func": "var label = \"Current Cue\";\nif (msg.payload === \"\") {\n    msg.payload=\"<i>[\"+label+\"]</i>\";\n    node.status({fill:\"green\",shape:\"ring\",text:\"[\"+label+\"]\"});\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "216feb9b.e01a94"
            ]
        ]
    },
    {
        "id": "91630e92.fabd1",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "Blank Status",
        "links": [
            "2086666f.2de4ea",
            "3a24e62.6cf1f1a"
        ],
        "x": 435,
        "y": 300,
        "wires": [
            [
                "cbd86e6a.3e955"
            ]
        ]
    },
    {
        "id": "ea66ae31.bec49",
        "type": "function",
        "z": "4a1526ee.e89738",
        "name": "Label when blank",
        "func": "var label = \"Next Cue\";\nif (msg.payload === \"\") {\n    msg.payload=\"<i>[\"+label+\"]</i>\";\n    node.status({fill:\"green\",shape:\"ring\",text:\"[\"+label+\"]\"});\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "dcb43b61.513518"
            ]
        ]
    },
    {
        "id": "44bcac1e.feab24",
        "type": "link in",
        "z": "4a1526ee.e89738",
        "name": "Blank Status",
        "links": [
            "2086666f.2de4ea",
            "3a24e62.6cf1f1a"
        ],
        "x": 435,
        "y": 360,
        "wires": [
            [
                "ea66ae31.bec49"
            ]
        ]
    },
    {
        "id": "f34f739d.8bfcf",
        "type": "inject",
        "z": "2f7fba11.8c0446",
        "name": "Play back log file",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "31340947.8d5186"
            ]
        ]
    },
    {
        "id": "31340947.8d5186",
        "type": "file in",
        "z": "2f7fba11.8c0446",
        "name": "",
        "filename": "/home/pi/eos.log",
        "format": "",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "25146ce7.6ffca4",
                "89c3d731.a4a228"
            ]
        ]
    },
    {
        "id": "25146ce7.6ffca4",
        "type": "debug",
        "z": "2f7fba11.8c0446",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "89c3d731.a4a228",
        "type": "function",
        "z": "2f7fba11.8c0446",
        "name": "split OSC-over-TCP v.1.0",
        "func": "node.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"last block: N/A, total: 0\"});\n});\n\nvar i=0;\nvar output=[];\nwhile (i < msg.payload.length) {\n    var len = (msg.payload[i]<<24) + (msg.payload[i+1]<<16) + (msg.payload[i+2]<<8) + msg.payload[i+3];\n    i += 4;\n    // var buf = Buffer.allocUnsafe(len);\n    var buf = new Buffer(len);\n    msg.payload.copy(buf,0,i,i+len);\n    // output.push({payload:buf, filename:\"/home/pi/osc/msg\"+output.length+\".dat\"});\n    output.push({payload:buf});\n    i += len;\n}\nvar count=context.get(\"count\")||0;\ncount+=output.length;\ncontext.set(\"count\",count);\nnode.status({text:\"last block: \"+output.length+\", total: \"+count});\nreturn [ output ];",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "969fd3dd.18297"
            ]
        ]
    },
    {
        "id": "969fd3dd.18297",
        "type": "delay",
        "z": "2f7fba11.8c0446",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "665cbf5.937c94"
            ]
        ]
    },
    {
        "id": "665cbf5.937c94",
        "type": "link out",
        "z": "2f7fba11.8c0446",
        "name": "OSC RX In",
        "links": [
            "7a30e7bd.098018",
            "cddd1350.9929",
            "75d9d8c2.2580d8",
            "aa6a072c.f71828",
            "a4e79248.3010a",
            "f0123831.611fc8",
            "c3e00837.b4c448",
            "cfd4d92d.3bfa38"
        ],
        "x": 555,
        "y": 440,
        "wires": []
    },
    {
        "id": "79467aeb.6ad214",
        "type": "function",
        "z": "2f7fba11.8c0446",
        "name": "Store Session",
        "func": "flow.set('session',msg._session);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "1ee09cd4.092ef3",
        "type": "function",
        "z": "2f7fba11.8c0446",
        "name": "Recall Session",
        "func": "msg._session=flow.get(\"session\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ed9f8e8f.61207",
        "type": "debug",
        "z": "2f7fba11.8c0446",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "909449f5.1383d8",
        "type": "function",
        "z": "2f7fba11.8c0446",
        "name": "log OSC",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length===0) {\n    msg.payload = msg.topic;\n} else if (isNumeric(msg.payload)) {\n    msg.payload = msg.topic + ' = ' + msg.payload;\n} else {\n    msg.payload = msg.topic + ' = \"' + msg.payload + '\"';\n}\nreturn msg;\n\nfunction isNumeric(n) {\n  return !isNaN(parseFloat(n)) && isFinite(n);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "ed9f8e8f.61207"
            ]
        ]
    },
    {
        "id": "45c977fc.7e4648",
        "type": "link in",
        "z": "9faa685a.bcf418",
        "name": "OSC Rx Out",
        "links": [
            "665cbf5.937c94",
            "e98e88ab.5606e8"
        ],
        "x": 495,
        "y": 200,
        "wires": [
            [
                "57fb662f.a6c8b8"
            ]
        ]
    },
    {
        "id": "3ac1990c.c9f496",
        "type": "link out",
        "z": "9faa685a.bcf418",
        "name": "OSC Tx In",
        "links": [
            "3148c47f.c9f6fc",
            "558426ab.0d2668",
            "e44bdd24.cee43"
        ],
        "x": 475,
        "y": 80,
        "wires": []
    },
    {
        "id": "4ac18a9c.37abb4",
        "type": "function",
        "z": "9faa685a.bcf418",
        "name": "Store IP",
        "func": "flow.set(\"ip_10000\",msg.ip);\nnode.status({text:\"IP: \"+msg.ip});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "3ac1990c.c9f496",
                "f26146c4.91b678"
            ]
        ]
    },
    {
        "id": "57fb662f.a6c8b8",
        "type": "function",
        "z": "9faa685a.bcf418",
        "name": "Recall IP",
        "func": "msg.ip=flow.get(\"ip_10000\");\nif (typeof msg.ip == \"string\") {\n    node.status({text:\"IP: \"+msg.ip});\n    msg.port = 8080;\n    return msg;\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"IP: ???\"});\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "bb6a1539.05f2c8",
                "4263b919.092b68"
            ]
        ]
    },
    {
        "id": "4263b919.092b68",
        "type": "debug",
        "z": "9faa685a.bcf418",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "a3251dcd.92731",
        "type": "comment",
        "z": "9faa685a.bcf418",
        "name": "Links to/from Dave's phone",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "f26146c4.91b678",
        "type": "function",
        "z": "9faa685a.bcf418",
        "name": "Loopback",
        "func": "var toggle = context.get('toggle')||false;\nnode.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"disabled\"});\n});\nif (msg.topic==\"toggle\") {\n    if (msg.payload==\"toggle\") {\n        toggle = !toggle;\n    } else if (msg.payload==\"enable\") {\n        toggle = true;\n    } else if (msg.payload==\"disable\") {\n        toggle = false;\n    }\n    node.status({fill:toggle?\"green\":\"red\",shape:\"ring\",text:toggle?\"enabled\":\"disabled\"});\n    context.set('toggle',toggle);\n} else if (toggle) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"enabled\"});\n    return msg;\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"disabled\"});\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "57fb662f.a6c8b8"
            ]
        ]
    },
    {
        "id": "1f2ffb8.11d6105",
        "type": "inject",
        "z": "9faa685a.bcf418",
        "name": "Toggle Loopback",
        "topic": "toggle",
        "payload": "toggle",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "f26146c4.91b678"
            ]
        ]
    },
    {
        "id": "e774e07c.279e6",
        "type": "trigger",
        "z": "110ab74.7b1be49",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 400,
        "y": 500,
        "wires": [
            [
                "1d116091.c17cef"
            ]
        ]
    },
    {
        "id": "23e8d719.58f028",
        "type": "osc",
        "z": "cff82739.e83038",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "b0adce7a.0eb6",
                "7a647bab.33bae4"
            ]
        ]
    },
    {
        "id": "b0adce7a.0eb6",
        "type": "function",
        "z": "cff82739.e83038",
        "name": "OSC -> Text",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length===0) {\n    msg.payload = msg.topic;\n} else if (isNumeric(msg.payload)) {\n    msg.payload = msg.topic + ' = ' + msg.payload;\n} else {\n    msg.payload = msg.topic + ' = \"' + msg.payload + '\"';\n}\nreturn msg;\n\nfunction isNumeric(n) {\n  return !isNaN(parseFloat(n)) && isFinite(n);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "e09bade3.a1fc2"
            ]
        ]
    },
    {
        "id": "a4e79248.3010a",
        "type": "link in",
        "z": "cff82739.e83038",
        "name": "OSC RX Out",
        "links": [
            "665cbf5.937c94",
            "e98e88ab.5606e8"
        ],
        "x": 175,
        "y": 320,
        "wires": [
            [
                "23e8d719.58f028",
                "4485ec1b.9c10f4",
                "24775c46.a099b4"
            ]
        ]
    },
    {
        "id": "640303e2.e19c0c",
        "type": "debug",
        "z": "cff82739.e83038",
        "name": "Log OSC from Ion",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "5eb25d9d.d83964",
        "type": "osc",
        "z": "cff82739.e83038",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "b266c20b.b9baf"
            ]
        ]
    },
    {
        "id": "b266c20b.b9baf",
        "type": "function",
        "z": "cff82739.e83038",
        "name": "OSC -> Text",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length===0) {\n    msg.payload = msg.topic;\n} else if (isNumeric(msg.payload)) {\n    msg.payload = msg.topic + ' = ' + msg.payload;\n} else {\n    msg.payload = msg.topic + ' = \"' + msg.payload + '\"';\n}\nreturn msg;\n\nfunction isNumeric(n) {\n  return !isNaN(parseFloat(n)) && isFinite(n);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "94444eca.14027"
            ]
        ]
    },
    {
        "id": "67862651.acb318",
        "type": "debug",
        "z": "cff82739.e83038",
        "name": "Log OSC to Ion",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "558426ab.0d2668",
        "type": "link in",
        "z": "cff82739.e83038",
        "name": "OSC Tx Out",
        "links": [
            "f216833.fc9148",
            "3ac1990c.c9f496",
            "49e3ae89.3870f",
            "469df9ee.fd60b8",
            "c8f7d888.b88c28"
        ],
        "x": 175,
        "y": 160,
        "wires": [
            [
                "5eb25d9d.d83964"
            ]
        ]
    },
    {
        "id": "d7b53fef.dc7a6",
        "type": "link out",
        "z": "7ff70df2.c31d34",
        "name": "Raw TCP from Ion",
        "links": [
            "df4da701.d183c8"
        ],
        "x": 355,
        "y": 340,
        "wires": []
    },
    {
        "id": "7941c449.c1904c",
        "type": "file",
        "z": "cff82739.e83038",
        "name": "",
        "filename": "/home/pi/eos.log",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "df4da701.d183c8",
        "type": "link in",
        "z": "cff82739.e83038",
        "name": "Raw TCP from Ion",
        "links": [
            "d7b53fef.dc7a6"
        ],
        "x": 175,
        "y": 420,
        "wires": [
            [
                "c4f5f03d.1f3bd"
            ]
        ]
    },
    {
        "id": "c59e6d3b.eb93d",
        "type": "debug",
        "z": "f187f982.e8db08",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "5be4b2ed.fb7b2c",
        "type": "inject",
        "z": "f187f982.e8db08",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "a98f5e82.c8a08",
                "433ebb40.cfb964"
            ]
        ]
    },
    {
        "id": "65e0ac14.2b8d94",
        "type": "debug",
        "z": "f187f982.e8db08",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "aa6c887f.8980c8",
        "type": "inject",
        "z": "f187f982.e8db08",
        "name": "",
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "cdf85bd1.cd2278",
                "433ebb40.cfb964"
            ]
        ]
    },
    {
        "id": "4a7146cd.2d3978",
        "type": "inject",
        "z": "f187f982.e8db08",
        "name": "",
        "topic": "World",
        "payload": "Hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "ee1d1005.6b7c5"
            ]
        ]
    },
    {
        "id": "433ebb40.cfb964",
        "type": "change",
        "z": "f187f982.e8db08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "ee1d1005.6b7c5",
                "2c21afa.369b75"
            ]
        ]
    },
    {
        "id": "2c21afa.369b75",
        "type": "debug",
        "z": "f187f982.e8db08",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "a1de836.31a718",
        "type": "inject",
        "z": "f187f982.e8db08",
        "name": "",
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "ab4de82c.ac7e28",
                "cdf85bd1.cd2278"
            ]
        ]
    },
    {
        "id": "a734f08c.8cfed",
        "type": "inject",
        "z": "f187f982.e8db08",
        "name": "",
        "topic": "",
        "payload": "World",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "ab4de82c.ac7e28",
                "cdf85bd1.cd2278"
            ]
        ]
    },
    {
        "id": "d805d84f.71b2a8",
        "type": "udp in",
        "z": "9faa685a.bcf418",
        "name": "",
        "iface": "",
        "port": "8082",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "b34aa800.120dc8",
                "bf29134b.e4a45"
            ]
        ]
    },
    {
        "id": "b34aa800.120dc8",
        "type": "debug",
        "z": "9faa685a.bcf418",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 350,
        "y": 300,
        "wires": []
    },
    {
        "id": "bf29134b.e4a45",
        "type": "function",
        "z": "9faa685a.bcf418",
        "name": "Store IP",
        "func": "flow.set(\"ip_8082\",msg.ip);\nnode.status({text:\"IP: \"+msg.ip});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "49e3ae89.3870f",
                "3521f150.813fae"
            ]
        ]
    },
    {
        "id": "49e3ae89.3870f",
        "type": "link out",
        "z": "9faa685a.bcf418",
        "name": "OSC Tx In",
        "links": [
            "3148c47f.c9f6fc",
            "558426ab.0d2668",
            "e44bdd24.cee43"
        ],
        "x": 475,
        "y": 340,
        "wires": []
    },
    {
        "id": "3521f150.813fae",
        "type": "function",
        "z": "9faa685a.bcf418",
        "name": "Loopback",
        "func": "var toggle = context.get('toggle')||false;\nnode.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"disabled\"});\n});\nif (msg.topic==\"toggle\") {\n    if (msg.payload==\"toggle\") {\n        toggle = !toggle;\n    } else if (msg.payload==\"enable\") {\n        toggle = true;\n    } else if (msg.payload==\"disable\") {\n        toggle = false;\n    }\n    node.status({fill:toggle?\"green\":\"red\",shape:\"ring\",text:toggle?\"enabled\":\"disabled\"});\n    context.set('toggle',toggle);\n} else if (toggle) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"enabled\"});\n    return msg;\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"disabled\"});\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 400,
        "wires": [
            [
                "d1a4273b.df1c78"
            ]
        ]
    },
    {
        "id": "d1a4273b.df1c78",
        "type": "function",
        "z": "9faa685a.bcf418",
        "name": "Recall IP",
        "func": "msg.ip=flow.get(\"ip_8082\");\nif (typeof msg.ip == \"string\") {\n    node.status({text:\"IP: \"+msg.ip});\n    msg.port = 8083;\n    return msg;\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"IP: ???\"});\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 460,
        "wires": [
            [
                "b1fd26d7.e80148",
                "cc063c02.9a188"
            ]
        ]
    },
    {
        "id": "ae0c8023.00671",
        "type": "inject",
        "z": "9faa685a.bcf418",
        "name": "Toggle Loopback",
        "topic": "toggle",
        "payload": "toggle",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "3521f150.813fae"
            ]
        ]
    },
    {
        "id": "f0123831.611fc8",
        "type": "link in",
        "z": "9faa685a.bcf418",
        "name": "OSC Rx Out",
        "links": [
            "665cbf5.937c94",
            "e98e88ab.5606e8"
        ],
        "x": 495,
        "y": 460,
        "wires": [
            [
                "d1a4273b.df1c78"
            ]
        ]
    },
    {
        "id": "b1fd26d7.e80148",
        "type": "udp out",
        "z": "9faa685a.bcf418",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "8083",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "cc063c02.9a188",
        "type": "debug",
        "z": "9faa685a.bcf418",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f77714c.1c481",
        "type": "comment",
        "z": "9faa685a.bcf418",
        "name": "Links to/from interface.js",
        "info": "",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "5da8f0f0.74091",
        "type": "websocket in",
        "z": "9faa685a.bcf418",
        "name": "",
        "server": "",
        "client": "ffb8a002.a4689",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "ebb4f221.c5894"
            ]
        ]
    },
    {
        "id": "ebb4f221.c5894",
        "type": "debug",
        "z": "9faa685a.bcf418",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 360,
        "y": 500,
        "wires": []
    },
    {
        "id": "bf06c8d6.781a18",
        "type": "catch",
        "z": "9faa685a.bcf418",
        "name": "",
        "scope": null,
        "x": 540,
        "y": 260,
        "wires": [
            [
                "38bd8d9.32bd272"
            ]
        ]
    },
    {
        "id": "38bd8d9.32bd272",
        "type": "debug",
        "z": "9faa685a.bcf418",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "acceeb2e.88fdc8",
        "type": "status",
        "z": "9faa685a.bcf418",
        "name": "",
        "scope": null,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "6670fd52.9eb484"
            ]
        ]
    },
    {
        "id": "6670fd52.9eb484",
        "type": "debug",
        "z": "9faa685a.bcf418",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "b9cba98e.30b218",
        "type": "inject",
        "z": "cff82739.e83038",
        "name": "Toggle Logging to File",
        "topic": "toggle",
        "payload": "toggle",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "c4f5f03d.1f3bd"
            ]
        ]
    },
    {
        "id": "c4f5f03d.1f3bd",
        "type": "function",
        "z": "cff82739.e83038",
        "name": "Log to File",
        "func": "var toggle = context.get('toggle')||false;\nnode.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"disabled\"});\n});\nif (msg.topic==\"toggle\") {\n    if (msg.payload==\"toggle\") {\n        toggle = !toggle;\n    } else if (msg.payload==\"enable\") {\n        toggle = true;\n    } else if (msg.payload==\"disable\") {\n        toggle = false;\n    }\n    node.status({fill:toggle?\"green\":\"red\",shape:\"ring\",text:toggle?\"enabled\":\"disabled\"});\n    context.set('toggle',toggle);\n} else if (toggle) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"enabled\"});\n    return msg;\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"disabled\"});\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "7941c449.c1904c"
            ]
        ]
    },
    {
        "id": "ac7141fb.5ae9b",
        "type": "websocket in",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "server": "dc634fee.af92a",
        "client": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "3059e53a.9778ba"
            ]
        ]
    },
    {
        "id": "439a1cd.57cf6e4",
        "type": "inject",
        "z": "7ff70df2.c31d34",
        "name": "Play back log file",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "11f764d8.9752cb"
            ]
        ]
    },
    {
        "id": "11f764d8.9752cb",
        "type": "file in",
        "z": "7ff70df2.c31d34",
        "name": "",
        "filename": "/home/pi/eos.log",
        "format": "",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "2e6ad320.eaacfc",
                "d7b53fef.dc7a6"
            ]
        ]
    },
    {
        "id": "4d735710.002698",
        "type": "inject",
        "z": "6e0fbbca.0dc514",
        "name": "Power on the ION",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "42ec8414.bd9dcc"
            ]
        ]
    },
    {
        "id": "c5cab550.e40148",
        "type": "ping",
        "z": "6e0fbbca.0dc514",
        "name": "Ping the ION",
        "host": "10.101.100.101",
        "timer": "20",
        "x": 171.5150146484375,
        "y": 240,
        "wires": [
            [
                "fcb884dd.069828",
                "17d247b2.4ea168",
                "7110b00e.3247b"
            ]
        ]
    },
    {
        "id": "57d0503d.98dd9",
        "type": "debug",
        "z": "6e0fbbca.0dc514",
        "name": "Ping Status",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "fcb884dd.069828",
        "type": "function",
        "z": "6e0fbbca.0dc514",
        "name": "Ping Status",
        "func": "node.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"Not yet pinged\"});\n});\n\nif (msg.payload === false) {\n    node.status({text:\"Ping failed\",fill:\"red\",shape:\"dot\"});\n} else {\n    node.status({text:\"Ping time: \"+msg.payload+\"ms\",fill:\"green\",shape:\"dot\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "57d0503d.98dd9"
            ]
        ]
    },
    {
        "id": "fd37f537.e56898",
        "type": "osc",
        "z": "a25232c.d7f4bd",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "7141d1bd.16f83",
                "469df9ee.fd60b8"
            ]
        ]
    },
    {
        "id": "7141d1bd.16f83",
        "type": "debug",
        "z": "a25232c.d7f4bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "24819d5b.2fafd2",
        "type": "debug",
        "z": "a25232c.d7f4bd",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "702ad570.e95b5c",
        "type": "link in",
        "z": "a25232c.d7f4bd",
        "name": "Send OSC",
        "links": [
            "16f637ae.7ed658",
            "1d0a0c58.474514",
            "1d116091.c17cef",
            "1f43ac0e.039da4",
            "26b4f650.dac94a",
            "2cb39939.b6dd16",
            "419b5578.cbd2dc",
            "45c5b7c8.43abf8",
            "47e201f8.9db8b",
            "54b4498b.528918",
            "55f093b0.b025fc",
            "5f2d296d.bf8da8",
            "65f26604.d37088",
            "71f6ef35.9778c",
            "7533b553.06e67c",
            "771cdc29.c0cf54",
            "7bd6ed35.379054",
            "95f0f50c.a69f98",
            "a17e4f73.ab028",
            "ada2a52e.c08528",
            "b8f2fb5.e1b3508",
            "ced379c6.2aa198",
            "d8371ff3.fbce",
            "e207cec9.9639d",
            "fb8d00d4.4e31a",
            "fa207d74.23726",
            "7e2de390.dd135c",
            "f11004d0.1b3c78",
            "e871e266.a621b"
        ],
        "x": 175,
        "y": 320,
        "wires": [
            [
                "87ef2c83.7714a",
                "5219b378.61b54c"
            ]
        ]
    },
    {
        "id": "87ef2c83.7714a",
        "type": "function",
        "z": "a25232c.d7f4bd",
        "name": "NaN -> \"\"",
        "func": "// UI Buttons return a null payload\n// -> doesn't work well with websockets flow...\n\nif (typeof msg.payload === \"number\" && isNaN(msg.payload)) {\n  msg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "24819d5b.2fafd2",
                "97147dc.c863e8"
            ]
        ]
    },
    {
        "id": "5219b378.61b54c",
        "type": "debug",
        "z": "a25232c.d7f4bd",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 270,
        "y": 280,
        "wires": []
    },
    {
        "id": "469df9ee.fd60b8",
        "type": "link out",
        "z": "a25232c.d7f4bd",
        "name": "OSC Tx In",
        "links": [
            "3148c47f.c9f6fc",
            "558426ab.0d2668",
            "e44bdd24.cee43"
        ],
        "x": 615,
        "y": 460,
        "wires": []
    },
    {
        "id": "483f9301.3d8a6c",
        "type": "link in",
        "z": "a25232c.d7f4bd",
        "name": "OSC Rx Out",
        "links": [
            "e98e88ab.5606e8",
            "db0b1f86.0a6f2",
            "735503cb.0d1e4c",
            "665cbf5.937c94"
        ],
        "x": 175,
        "y": 120,
        "wires": [
            [
                "8451febf.2dcb4"
            ]
        ]
    },
    {
        "id": "8451febf.2dcb4",
        "type": "osc",
        "z": "a25232c.d7f4bd",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "5843e1f4.1e635",
                "26560f9a.ff4f1",
                "816b880c.041db8"
            ]
        ]
    },
    {
        "id": "5843e1f4.1e635",
        "type": "link out",
        "z": "a25232c.d7f4bd",
        "name": "OSC Status In",
        "links": [
            "f3120e0c.ce07b",
            "9d4581c1.7a1a9",
            "5a168a2a.70b984",
            "27505aaf.03be16",
            "187edd17.e10883",
            "805c7817.ca8298",
            "bb4df87d.0c1228",
            "27d58b57.bee884",
            "33ec5fb2.49b61",
            "7b20141a.2af94c",
            "acc2c00e.f7a9f"
        ],
        "x": 595,
        "y": 120,
        "wires": []
    },
    {
        "id": "ef9449e1.471ad8",
        "type": "inject",
        "z": "a25232c.d7f4bd",
        "name": "Set text boxes to 'blank'",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "3a24e62.6cf1f1a"
            ]
        ]
    },
    {
        "id": "3a24e62.6cf1f1a",
        "type": "link out",
        "z": "a25232c.d7f4bd",
        "name": "Blank Status",
        "links": [
            "a2b7dcc2.5edfe",
            "bda68ca2.ea814",
            "fe6ade64.a5c44",
            "95a6cacb.ac4f58",
            "95f5527b.5f31b",
            "91630e92.fabd1",
            "44bcac1e.feab24"
        ],
        "x": 275,
        "y": 200,
        "wires": []
    },
    {
        "id": "7f03b50b.3ed54c",
        "type": "switch",
        "z": "110ab74.7b1be49",
        "name": "/eos/out/active/chan",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/out/active/chan",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 300,
        "y": 20,
        "wires": [
            [
                "7c53c640.70d0b8"
            ]
        ]
    },
    {
        "id": "7c53c640.70d0b8",
        "type": "function",
        "z": "110ab74.7b1be49",
        "name": "Label when blank",
        "func": "var label = \"Active Channel\";\nif (msg.payload === \"\") {\n    msg.payload=\"<i>[\"+label+\"]</i>\";\n    node.status({fill:\"green\",shape:\"ring\",text:\"[\"+label+\"]\"});\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 20,
        "wires": [
            [
                "de750d43.62568"
            ]
        ]
    },
    {
        "id": "33ec5fb2.49b61",
        "type": "link in",
        "z": "110ab74.7b1be49",
        "name": "OSC Status Out",
        "links": [
            "5843e1f4.1e635",
            "7a43e2a5.2b75ac",
            "86ce733.216c89"
        ],
        "x": 155,
        "y": 20,
        "wires": [
            [
                "7f03b50b.3ed54c"
            ]
        ]
    },
    {
        "id": "d1ebcdc8.f7959",
        "type": "link in",
        "z": "110ab74.7b1be49",
        "name": "Blank Status",
        "links": [
            "3a24e62.6cf1f1a"
        ],
        "x": 435,
        "y": 40,
        "wires": [
            [
                "7c53c640.70d0b8"
            ]
        ]
    },
    {
        "id": "47ce4ecb.26461",
        "type": "function",
        "z": "110ab74.7b1be49",
        "name": "Label when blank",
        "func": "var label = \"Command Line\";\nif (msg.payload === \"\") {\n    msg.payload=\"<i>[\"+label+\"]</i>\";\n    node.status({fill:\"green\",shape:\"ring\",text:\"[\"+label+\"]\"});\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "e79daf6e.666c5"
            ]
        ]
    },
    {
        "id": "1c5d9f00.da3f81",
        "type": "switch",
        "z": "110ab74.7b1be49",
        "name": "/eos/out/cmd",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/out/cmd",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "47ce4ecb.26461"
            ]
        ]
    },
    {
        "id": "9c6cf4f3.80faf8",
        "type": "link in",
        "z": "110ab74.7b1be49",
        "name": "Blank Status",
        "links": [
            "2086666f.2de4ea",
            "3a24e62.6cf1f1a"
        ],
        "x": 435,
        "y": 100,
        "wires": [
            [
                "47ce4ecb.26461"
            ]
        ]
    },
    {
        "id": "7b20141a.2af94c",
        "type": "link in",
        "z": "110ab74.7b1be49",
        "name": "OSC Status Out",
        "links": [
            "5843e1f4.1e635",
            "7a43e2a5.2b75ac",
            "86ce733.216c89"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "1c5d9f00.da3f81"
            ]
        ]
    },
    {
        "id": "5c45302f.2dc37",
        "type": "link out",
        "z": "4a1526ee.e89738",
        "name": "OSC Button",
        "links": [
            "702ad570.e95b5c"
        ],
        "x": 695,
        "y": 400,
        "wires": []
    },
    {
        "id": "e72b7e42.54f0f",
        "type": "link out",
        "z": "4a1526ee.e89738",
        "name": "OSC Button",
        "links": [
            "702ad570.e95b5c"
        ],
        "x": 695,
        "y": 440,
        "wires": []
    },
    {
        "id": "7a33732d.873c2c",
        "type": "link out",
        "z": "4a1526ee.e89738",
        "name": "OSC Button",
        "links": [
            "702ad570.e95b5c"
        ],
        "x": 695,
        "y": 480,
        "wires": []
    },
    {
        "id": "c45f93e6.878a7",
        "type": "trigger",
        "z": "4a1526ee.e89738",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "43524e29.80d46"
            ]
        ]
    },
    {
        "id": "43524e29.80d46",
        "type": "change",
        "z": "4a1526ee.e89738",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/eos/key/enter",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "e72b7e42.54f0f"
            ]
        ]
    },
    {
        "id": "5dc75ebc.4ddae",
        "type": "debug",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "9b9cdfe4.5d4e1",
        "type": "websocket out",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "server": "dc634fee.af92a",
        "client": "",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "cb51bce0.ddd51",
        "type": "inject",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "topic": "/button1",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "35c42333.bc103c"
            ]
        ]
    },
    {
        "id": "3059e53a.9778ba",
        "type": "json",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "a2b10730.fc0d38"
            ]
        ]
    },
    {
        "id": "35c42333.bc103c",
        "type": "function",
        "z": "b2bf3a30.c27e68",
        "name": "'socket' message",
        "func": "msg.payload = {\n  type: \"socket\",\n  address: msg.topic,\n  parameters: [msg.payload]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "f5a46df4.d6491",
                "2034d2bb.9ea81e"
            ]
        ]
    },
    {
        "id": "2034d2bb.9ea81e",
        "type": "json",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "8c7f1a3c.591818"
            ]
        ]
    },
    {
        "id": "9e33443.0a7e4b8",
        "type": "inject",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "topic": "/button1",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "35c42333.bc103c"
            ]
        ]
    },
    {
        "id": "e4f437fe.916538",
        "type": "function",
        "z": "b2bf3a30.c27e68",
        "name": "'osc' message",
        "func": "msg.payload = {\n  type: \"osc\",\n  address: msg.topic,\n  typetags: \"f\",\n  parameters: [msg.payload]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 460,
        "wires": [
            [
                "2034d2bb.9ea81e",
                "c814361d.4e60e8"
            ]
        ]
    },
    {
        "id": "450c4ed8.350a2",
        "type": "inject",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "topic": "/button2",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 480,
        "wires": [
            [
                "e4f437fe.916538"
            ]
        ]
    },
    {
        "id": "417ec33e.10bfdc",
        "type": "inject",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "topic": "/button2",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 440,
        "wires": [
            [
                "e4f437fe.916538"
            ]
        ]
    },
    {
        "id": "f5a46df4.d6491",
        "type": "debug",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "c814361d.4e60e8",
        "type": "debug",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "1f78fc62.1911b4",
        "type": "function",
        "z": "b2bf3a30.c27e68",
        "name": "'osc' message",
        "func": "msg.payload = {\n  type: \"osc\",\n  address: msg.topic,\n  parameters: [msg.payload]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "2681edd9.a83c52",
                "2034d2bb.9ea81e"
            ]
        ]
    },
    {
        "id": "65661159.443ce",
        "type": "inject",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "topic": "/button1",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "1f78fc62.1911b4"
            ]
        ]
    },
    {
        "id": "8292bfe6.2f7ed",
        "type": "inject",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "topic": "/button1",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 380,
        "wires": [
            [
                "1f78fc62.1911b4"
            ]
        ]
    },
    {
        "id": "2681edd9.a83c52",
        "type": "debug",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "7a647bab.33bae4",
        "type": "debug",
        "z": "cff82739.e83038",
        "name": "Log OSC from Ion",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "4485ec1b.9c10f4",
        "type": "debug",
        "z": "cff82739.e83038",
        "name": "Log OSC from Ion",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 310,
        "y": 240,
        "wires": []
    },
    {
        "id": "a2b10730.fc0d38",
        "type": "function",
        "z": "b2bf3a30.c27e68",
        "name": "to OSC style",
        "func": "msg.raw = msg.payload;\nmsg.topic = msg.raw.address;\nmsg.payload = msg.raw.parameters[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "5dc75ebc.4ddae",
                "e871e266.a621b"
            ]
        ]
    },
    {
        "id": "e871e266.a621b",
        "type": "link out",
        "z": "b2bf3a30.c27e68",
        "name": "Send OSC",
        "links": [
            "702ad570.e95b5c",
            "7e0198f5.36ebd8"
        ],
        "x": 615,
        "y": 100,
        "wires": []
    },
    {
        "id": "acc2c00e.f7a9f",
        "type": "link in",
        "z": "b2bf3a30.c27e68",
        "name": "OSC Status Out",
        "links": [
            "5843e1f4.1e635",
            "64601038.0fe3b",
            "7a43e2a5.2b75ac",
            "86ce733.216c89",
            "7ffc46cd.6a2c58"
        ],
        "x": 215,
        "y": 180,
        "wires": [
            [
                "b254545b.c320f8"
            ]
        ]
    },
    {
        "id": "a1af335a.b4d46",
        "type": "debug",
        "z": "b2bf3a30.c27e68",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "b254545b.c320f8",
        "type": "function",
        "z": "b2bf3a30.c27e68",
        "name": "'osc' message",
        "func": "msg.payload = {\n  type: \"osc\",\n  address: msg.topic,\n  parameters: [msg.payload]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "a1af335a.b4d46",
                "2034d2bb.9ea81e"
            ]
        ]
    },
    {
        "id": "64601038.0fe3b",
        "type": "link out",
        "z": "6e0fbbca.0dc514",
        "name": "",
        "links": [
            "acc2c00e.f7a9f"
        ],
        "x": 575,
        "y": 160,
        "wires": []
    },
    {
        "id": "17d247b2.4ea168",
        "type": "change",
        "z": "6e0fbbca.0dc514",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/osc/ping/ion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 140,
        "wires": [
            [
                "64601038.0fe3b"
            ]
        ]
    },
    {
        "id": "7847689f.1d7fa8",
        "type": "debug",
        "z": "9faa685a.bcf418",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "41a8b598.1f82ac",
        "type": "udp out",
        "z": "9faa685a.bcf418",
        "name": "",
        "addr": "10.101.2.1",
        "iface": "",
        "port": "8000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "c3e00837.b4c448",
        "type": "link in",
        "z": "9faa685a.bcf418",
        "name": "OSC Rx Out",
        "links": [
            "665cbf5.937c94",
            "e98e88ab.5606e8"
        ],
        "x": 375,
        "y": 580,
        "wires": [
            [
                "7847689f.1d7fa8",
                "41a8b598.1f82ac",
                "7414e691.638088"
            ]
        ]
    },
    {
        "id": "24775c46.a099b4",
        "type": "osc",
        "z": "cff82739.e83038",
        "name": "",
        "path": "",
        "metadata": true,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "bf15419e.95ee1"
            ]
        ]
    },
    {
        "id": "bf15419e.95ee1",
        "type": "debug",
        "z": "cff82739.e83038",
        "name": "Log OSC from Ion",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "7414e691.638088",
        "type": "osc",
        "z": "9faa685a.bcf418",
        "name": "",
        "path": "",
        "metadata": true,
        "x": 510,
        "y": 640,
        "wires": [
            [
                "b3b46d2e.febe9"
            ]
        ]
    },
    {
        "id": "b3b46d2e.febe9",
        "type": "debug",
        "z": "9faa685a.bcf418",
        "name": "Log OSC from Ion",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "816b880c.041db8",
        "type": "function",
        "z": "a25232c.d7f4bd",
        "name": "Store recent information",
        "func": "/*\nif (msg.topic == \"/eos/out/active/cue/text\") flow.set(\"/eos/out/active/cue/text\",msg.payload);\nif (msg.topic == \"/eos/out/user\") flow.set(\"/eos/out/user\",msg.payload);\nif (msg.topic == \"/eos/out/event/state\") flow.set(\"/eos/out/event/state\",msg.payload);\nif (msg.topic == \"/eos/out/show/name\") flow.set(\"/eos/out/show/name\",msg.payload);\n*/\nvar store = flow.get(\"osc-store\") || {};\n\n    check_addr(\"/eos/out/user\");\n    check_addr(\"/eos/out/event/state\");\n    check_addr(\"/eos/out/event/locked\");\n    check_addr(\"/eos/out/show/name\");\n    check_addr(\"/eos/out/cmd\");\n    check_addr(\"/eos/out/active/chan\");\n    check_addr(\"/eos/out/active/cue/text\");\n    check_addr(\"/eos/out/active/cue\");\n    check_addr(\"/eos/out/pending/cue/text\");\n\nflow.set(\"osc-store\",store);\nmsg.payload = store;\nreturn msg;\n\nfunction check_addr(addr) {\n    // if (msg.topic == addr) flow.set(addr,msg.payload);\n    if (msg.topic == addr) store[addr]=msg.payload;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "8ceb9a14.d45218"
            ]
        ]
    },
    {
        "id": "26560f9a.ff4f1",
        "type": "debug",
        "z": "a25232c.d7f4bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "2e1a1652.451fda",
        "type": "function",
        "z": "a25232c.d7f4bd",
        "name": "/osc/init : Recall information",
        "func": "var output=[];\nvar store=flow.get(\"osc-store\") || {};\nvar val, addr;\n\nfor (var addr in store) {\n    output.push( {\n        topic: addr,\n        payload: store[addr],\n    } );\n}\n\nreturn [ output ];",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 380,
        "wires": [
            [
                "5843e1f4.1e635",
                "952fd2e9.dbf92",
                "65d92267.7527dc"
            ]
        ]
    },
    {
        "id": "952fd2e9.dbf92",
        "type": "debug",
        "z": "a25232c.d7f4bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "e09bade3.a1fc2",
        "type": "switch",
        "z": "cff82739.e83038",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/out/ping",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/osc/pong",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "d2f536c.285c7c8"
            ],
            [
                "d2f536c.285c7c8"
            ],
            [
                "640303e2.e19c0c"
            ]
        ]
    },
    {
        "id": "d2f536c.285c7c8",
        "type": "function",
        "z": "cff82739.e83038",
        "name": "Show pings",
        "func": "var toggle = context.get('toggle')||false;\nnode.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"disabled\"});\n});\nif (msg.topic==\"toggle\") {\n    if (msg.payload==\"toggle\") {\n        toggle = !toggle;\n    } else if (msg.payload==\"enable\") {\n        toggle = true;\n    } else if (msg.payload==\"disable\") {\n        toggle = false;\n    }\n    node.status({fill:toggle?\"green\":\"red\",shape:\"ring\",text:toggle?\"enabled\":\"disabled\"});\n    context.set('toggle',toggle);\n} else if (toggle) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"enabled\"});\n    return msg;\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"disabled\"});\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "640303e2.e19c0c"
            ]
        ]
    },
    {
        "id": "59157132.dd299",
        "type": "inject",
        "z": "cff82739.e83038",
        "name": "Toggle Pings",
        "topic": "toggle",
        "payload": "toggle",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "d2f536c.285c7c8"
            ]
        ]
    },
    {
        "id": "b040b945.bff628",
        "type": "function",
        "z": "cff82739.e83038",
        "name": "Show pings",
        "func": "var toggle = context.get('toggle')||false;\nnode.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"disabled\"});\n});\nif (msg.topic==\"toggle\") {\n    if (msg.payload==\"toggle\") {\n        toggle = !toggle;\n    } else if (msg.payload==\"enable\") {\n        toggle = true;\n    } else if (msg.payload==\"disable\") {\n        toggle = false;\n    }\n    node.status({fill:toggle?\"green\":\"red\",shape:\"ring\",text:toggle?\"enabled\":\"disabled\"});\n    context.set('toggle',toggle);\n} else if (toggle) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"enabled\"});\n    return msg;\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"disabled\"});\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 100,
        "wires": [
            [
                "67862651.acb318"
            ]
        ]
    },
    {
        "id": "94444eca.14027",
        "type": "switch",
        "z": "cff82739.e83038",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/ping",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "b040b945.bff628"
            ],
            [
                "67862651.acb318"
            ]
        ]
    },
    {
        "id": "a3389da.98e0b6",
        "type": "inject",
        "z": "cff82739.e83038",
        "name": "Toggle Pings",
        "topic": "toggle",
        "payload": "toggle",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "b040b945.bff628"
            ]
        ]
    },
    {
        "id": "65d92267.7527dc",
        "type": "link out",
        "z": "a25232c.d7f4bd",
        "name": "Recall stored OSC",
        "links": [
            "ac253ca1.adb4e"
        ],
        "x": 615,
        "y": 380,
        "wires": []
    },
    {
        "id": "ac253ca1.adb4e",
        "type": "link in",
        "z": "cff82739.e83038",
        "name": "Localy generated OSC",
        "links": [
            "65d92267.7527dc",
            "9a608333.8f87e"
        ],
        "x": 295,
        "y": 280,
        "wires": [
            [
                "b0adce7a.0eb6"
            ]
        ]
    },
    {
        "id": "8ceb9a14.d45218",
        "type": "debug",
        "z": "a25232c.d7f4bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "97147dc.c863e8",
        "type": "switch",
        "z": "a25232c.d7f4bd",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/osc/init",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/osc/ping",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 90,
        "y": 420,
        "wires": [
            [
                "2e1a1652.451fda"
            ],
            [
                "da9543c.94823c"
            ],
            [
                "fd37f537.e56898"
            ]
        ]
    },
    {
        "id": "da9543c.94823c",
        "type": "function",
        "z": "a25232c.d7f4bd",
        "name": "/osc/ping : Pong",
        "func": "msg.topic = \"/osc/pong\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "c12cf9b7.ff16b8",
                "9a608333.8f87e",
                "5843e1f4.1e635"
            ]
        ]
    },
    {
        "id": "c12cf9b7.ff16b8",
        "type": "debug",
        "z": "a25232c.d7f4bd",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "9a608333.8f87e",
        "type": "link out",
        "z": "a25232c.d7f4bd",
        "name": "Recall stored OSC",
        "links": [
            "ac253ca1.adb4e"
        ],
        "x": 615,
        "y": 420,
        "wires": []
    },
    {
        "id": "7110b00e.3247b",
        "type": "function",
        "z": "6e0fbbca.0dc514",
        "name": "Ion Power state",
        "func": "node.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"Unknown\"});\n});\n\nvar power = flow.get(\"ion_power\") || null;\n\nif (msg.payload === false) {\n    if (power === \"off\") {\n        // Ion is off, but we already know that...\n        node.status({text:\"Off\",fill:\"red\",shape:\"ring\"});\n    } else {\n        // Ion has just turned off\n        node.status({text:\"Off\",fill:\"red\",shape:\"dot\"});\n        flow.set(\"ion_power\",\"off\");\n        return {topic:'/osc/eos/state', payload:'Off'};\n    }\n} else {\n    if (power === \"on\") {\n        // Ion is on, but we already know that...\n        node.status({text:\"On\",fill:\"green\",shape:\"ring\"});\n    } else {\n        // Ion has just turned on\n        node.status({text:\"On\",fill:\"green\",shape:\"dot\"});\n        flow.set(\"ion_power\",\"on\");\n        return {topic:'/osc/eos/state', payload:'On'};\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "510b1e42.c24d1",
                "64601038.0fe3b"
            ]
        ]
    },
    {
        "id": "510b1e42.c24d1",
        "type": "debug",
        "z": "6e0fbbca.0dc514",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "32d514dc.88193c",
        "type": "tcp in",
        "z": "7ff70df2.c31d34",
        "name": "",
        "server": "server",
        "host": "10.101.1.5",
        "port": "30320",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "!",
        "topic": "",
        "base64": false,
        "x": 136,
        "y": 221,
        "wires": [
            [
                "65355bd.23aeca4",
                "2e6ad320.eaacfc",
                "d7b53fef.dc7a6"
            ]
        ]
    },
    {
        "id": "65355bd.23aeca4",
        "type": "debug",
        "z": "7ff70df2.c31d34",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 358,
        "y": 205,
        "wires": []
    },
    {
        "id": "a66f8867.a54118",
        "type": "tcp out",
        "z": "7ff70df2.c31d34",
        "host": "10.101.1.5",
        "port": "3033",
        "beserver": "server",
        "base64": false,
        "end": false,
        "name": "",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b349cec.f95f23",
        "type": "ui_slider",
        "z": "f187f982.e8db08",
        "name": "Fader 1",
        "label": "",
        "group": "347b17e6.b38c58",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": true,
        "topic": "/eos/fader/1/1",
        "min": 0,
        "max": "100",
        "step": "",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "c59e6d3b.eb93d",
                "433ebb40.cfb964"
            ]
        ]
    },
    {
        "id": "3225a5e3.a130ba",
        "type": "ui_text",
        "z": "4a1526ee.e89738",
        "group": "db3b9323.46564",
        "order": 1,
        "width": "2",
        "height": "1",
        "name": "User",
        "label": "User:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "60aa0520.a0c04c",
        "type": "ui_text",
        "z": "4a1526ee.e89738",
        "group": "db3b9323.46564",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Show name",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "b9cc6e97.7fd17",
        "type": "ui_text",
        "z": "4a1526ee.e89738",
        "group": "db3b9323.46564",
        "order": 2,
        "width": "2",
        "height": "1",
        "name": "Live/Blind",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "5807ca14.a7c964",
        "type": "ui_text",
        "z": "4a1526ee.e89738",
        "group": "db3b9323.46564",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Command line 2",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "216feb9b.e01a94",
        "type": "ui_text",
        "z": "4a1526ee.e89738",
        "group": "db3b9323.46564",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Active Cue",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "dcb43b61.513518",
        "type": "ui_text",
        "z": "4a1526ee.e89738",
        "group": "db3b9323.46564",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Pending Cue",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "a98f5e82.c8a08",
        "type": "ui_text",
        "z": "f187f982.e8db08",
        "group": "347b17e6.b38c58",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "Fader 1 Label",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 320,
        "y": 120,
        "wires": []
    },
    {
        "id": "cdf85bd1.cd2278",
        "type": "ui_text",
        "z": "f187f982.e8db08",
        "group": "347b17e6.b38c58",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "Fader 2 Label",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 320,
        "y": 280,
        "wires": []
    },
    {
        "id": "de750d43.62568",
        "type": "ui_text",
        "z": "110ab74.7b1be49",
        "group": "3b2655d6.d3e40a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Channel text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 770,
        "y": 20,
        "wires": []
    },
    {
        "id": "e79daf6e.666c5",
        "type": "ui_text",
        "z": "110ab74.7b1be49",
        "group": "3b2655d6.d3e40a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Command line",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "ee1d1005.6b7c5",
        "type": "ui_template",
        "z": "f187f982.e8db08",
        "group": "347b17e6.b38c58",
        "name": "Fader 2",
        "order": 4,
        "width": "5",
        "height": "1",
        "format": "<div layout=\"row\" layout-align=\"space-between center\" class=\"nr-dashboard-slider\">\n    <p class=\"label ng-binding\">{{msg.label}}</p>\n    <md-slider flex=\"100\" min=\"0\" max=\"100\" ng-model=\"msg.payload\" aria-label=\"Fader\" ng-change=\"send({payload: msg.payload, topic: '/eos/fader/1/2'})\" ng-disabled=\"me.item.disabled\" class=\"\" tabindex=\"0\" role=\"slider\" style=\"\" md-vertical></md-slider>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "65e0ac14.2b8d94",
                "ab4de82c.ac7e28",
                "ab4de82c.ac7e28"
            ]
        ]
    },
    {
        "id": "ab4de82c.ac7e28",
        "type": "ui_template",
        "z": "f187f982.e8db08",
        "group": "347b17e6.b38c58",
        "name": "Fader 2 Label 2",
        "order": 5,
        "width": "1",
        "height": "1",
        "format": "<div layout=\"row\" layout-align=\"space-between center\" class=\"nr-dashboard-text\">\n    <p class=\"value\">{{msg.payload}}</p>\n</div>\n\n<!--\n<md-card ui-card-size=\"1x1\" layout=\"row\" layout-align=\"start center\" class=\"nr-dashboard-text ng-scope layout-row layout-align-start-center visible\" style=\"left: 7px; top: 7px; width: 50px; height: 50px;\">\n    <p class=\"label ng-binding\" ng-bind-html=\"me.item.getLabel()\"></p>\n    <p class=\"value ng-binding\" ng-bind-html=\"me.item.getText()\">1</p>\n</md-card>\n-->",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "fe79bb8e.ca8cc8",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 18,
        "width": "1",
        "height": "1",
        "label": "1",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/1",
        "x": 50,
        "y": 260,
        "wires": [
            [
                "1d0a0c58.474514"
            ]
        ]
    },
    {
        "id": "6ae825a1.181a9c",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 19,
        "width": "1",
        "height": "1",
        "label": "2",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/2",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "7bd6ed35.379054"
            ]
        ]
    },
    {
        "id": "6bba850a.3ab43c",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 20,
        "width": "1",
        "height": "1",
        "label": "3",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/3",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "47e201f8.9db8b"
            ]
        ]
    },
    {
        "id": "b0cf805f.c8c46",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 13,
        "width": "1",
        "height": "1",
        "label": "4",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/4",
        "x": 50,
        "y": 220,
        "wires": [
            [
                "45c5b7c8.43abf8"
            ]
        ]
    },
    {
        "id": "242d786.1194d88",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 14,
        "width": "1",
        "height": "1",
        "label": "5",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/5",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "7533b553.06e67c"
            ]
        ]
    },
    {
        "id": "47a92210.dd99bc",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 15,
        "width": "1",
        "height": "1",
        "label": "6",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/6",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "54b4498b.528918"
            ]
        ]
    },
    {
        "id": "99820e25.5d687",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 8,
        "width": "1",
        "height": "1",
        "label": "7",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/7",
        "x": 50,
        "y": 180,
        "wires": [
            [
                "a17e4f73.ab028"
            ]
        ]
    },
    {
        "id": "6d3d4730.62d2a8",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 9,
        "width": "1",
        "height": "1",
        "label": "8",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/8",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "771cdc29.c0cf54"
            ]
        ]
    },
    {
        "id": "8780586f.06d508",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 10,
        "width": "1",
        "height": "1",
        "label": "9",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/9",
        "x": 610,
        "y": 180,
        "wires": [
            [
                "d8371ff3.fbce"
            ]
        ]
    },
    {
        "id": "6d9fc0a4.b2cd4",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 24,
        "width": "1",
        "height": "1",
        "label": "0",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/0",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "65f26604.d37088"
            ]
        ]
    },
    {
        "id": "3ba70e30.7f1402",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 3,
        "width": "1",
        "height": "1",
        "label": "+",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/+",
        "x": 50,
        "y": 140,
        "wires": [
            [
                "5f2d296d.bf8da8"
            ]
        ]
    },
    {
        "id": "7f059cba.7c3fd4",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "-",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/-",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "95f0f50c.a69f98"
            ]
        ]
    },
    {
        "id": "981f5afb.5f4c48",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 4,
        "width": "1",
        "height": "1",
        "label": "Thru",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/thru",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "55f093b0.b025fc"
            ]
        ]
    },
    {
        "id": "7c92e95.0ec1718",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 23,
        "width": "1",
        "height": "1",
        "label": "Clear",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/clear_cmd",
        "x": 50,
        "y": 300,
        "wires": [
            [
                "ced379c6.2aa198"
            ]
        ]
    },
    {
        "id": "5102bcf9.f8bf84",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 25,
        "width": "1",
        "height": "1",
        "label": ".",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/.",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "e207cec9.9639d"
            ]
        ]
    },
    {
        "id": "5a0da2bf.98ea6c",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 6,
        "width": "1",
        "height": "1",
        "label": "/",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/\\",
        "x": 50,
        "y": 340,
        "wires": [
            [
                "ada2a52e.c08528"
            ]
        ]
    },
    {
        "id": "dd9b713b.387c",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 11,
        "width": "1",
        "height": "1",
        "label": "R. Dim",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/rem_dim",
        "x": 50,
        "y": 380,
        "wires": [
            [
                "16f637ae.7ed658"
            ]
        ]
    },
    {
        "id": "3cde4c0a.160684",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 16,
        "width": "1",
        "height": "1",
        "label": "Out",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/out",
        "x": 50,
        "y": 420,
        "wires": [
            [
                "1f43ac0e.039da4"
            ]
        ]
    },
    {
        "id": "29f6b572.eb305a",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 21,
        "width": "1",
        "height": "1",
        "label": "Full",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/full",
        "x": 50,
        "y": 460,
        "wires": [
            [
                "419b5578.cbd2dc"
            ]
        ]
    },
    {
        "id": "abb46ee0.ac3dc",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 26,
        "width": "1",
        "height": "1",
        "label": "At",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/@",
        "x": 50,
        "y": 500,
        "wires": [
            [
                "fb8d00d4.4e31a"
            ]
        ]
    },
    {
        "id": "2ed34e72.294fe2",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 7,
        "width": "1",
        "height": "1",
        "label": "Sneak",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/sneak",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "2cb39939.b6dd16"
            ]
        ]
    },
    {
        "id": "d9c141f3.1f3d2",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 12,
        "width": "1",
        "height": "1",
        "label": "Addr.",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/address",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "b8f2fb5.e1b3508"
            ]
        ]
    },
    {
        "id": "4b9c63fd.5277ec",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 17,
        "width": "1",
        "height": "1",
        "label": "Last",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/last",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "26b4f650.dac94a"
            ]
        ]
    },
    {
        "id": "6ca6b0e0.ba9b3",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 22,
        "width": "1",
        "height": "1",
        "label": "Next",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/next",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "71f6ef35.9778c"
            ]
        ]
    },
    {
        "id": "2bf52536.9370fa",
        "type": "ui_button",
        "z": "110ab74.7b1be49",
        "name": "",
        "group": "3b2655d6.d3e40a",
        "order": 27,
        "width": "1",
        "height": "1",
        "label": "Enter",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/enter",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "e774e07c.279e6"
            ]
        ]
    },
    {
        "id": "f1bc2502.a63388",
        "type": "ui_button",
        "z": "4a1526ee.e89738",
        "name": "",
        "group": "db3b9323.46564",
        "order": 7,
        "width": "0",
        "height": "0",
        "label": "Reset OSC",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/reset",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "5c45302f.2dc37"
            ]
        ]
    },
    {
        "id": "242cb289.f1a07e",
        "type": "ui_button",
        "z": "4a1526ee.e89738",
        "name": "",
        "group": "db3b9323.46564",
        "order": 8,
        "width": "0",
        "height": "0",
        "label": "Power Off",
        "color": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "/eos/key/power_off",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "e72b7e42.54f0f",
                "c45f93e6.878a7"
            ]
        ]
    },
    {
        "id": "eb1c1b54.21e308",
        "type": "ui_dropdown",
        "z": "4a1526ee.e89738",
        "name": "OSC User",
        "label": "Set User:",
        "group": "db3b9323.46564",
        "order": 9,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Default User",
                "value": "-1"
            },
            {
                "label": "User 0 (background)",
                "value": "0"
            },
            {
                "label": "User 1 (Ion user)",
                "value": "1"
            },
            {
                "label": "User 2",
                "value": "2"
            },
            {
                "label": "Hudl User (2400)",
                "value": "2400"
            }
        ],
        "payload": "",
        "topic": "/eos/user",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "7a33732d.873c2c"
            ]
        ]
    },
    {
        "id": "42ec8414.bd9dcc",
        "type": "wake on lan",
        "z": "6e0fbbca.0dc514",
        "mac": "20:25:64:7B:2B:33",
        "host": "10.101.255.255",
        "name": "",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "55a1cd6.e9e0b34",
        "type": "function",
        "z": "7ff70df2.c31d34",
        "name": "Store TCP Session",
        "func": "var session = flow.get(\"tcp-session\") || {};\nsession[\"10.101.100.101\"]=msg._session;\nflow.set(\"tcp-session\",session);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "2e6ad320.eaacfc"
            ]
        ]
    },
    {
        "id": "ddfd79da.b16638",
        "type": "function",
        "z": "7ff70df2.c31d34",
        "name": "Recall TCP Session",
        "func": "var session = flow.get(\"tcp-session\") || {};\nif ( session[\"10.101.100.101\"] ) msg._session = session[\"10.101.100.101\"];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 80,
        "wires": [
            [
                "343cc0bc.9a8fc",
                "bb4320a8.98bb1"
            ]
        ]
    },
    {
        "id": "bb4320a8.98bb1",
        "type": "debug",
        "z": "7ff70df2.c31d34",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "9382b54a.3f3208",
        "type": "udp in",
        "z": "ca79fc01.131a7",
        "name": "",
        "iface": "",
        "port": "3034",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "9eacd063.66f57",
                "652d6803.9c9708"
            ]
        ]
    },
    {
        "id": "49211cf9.a4b034",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "9eacd063.66f57",
        "type": "osc",
        "z": "ca79fc01.131a7",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "9e17c7b6.ec2668",
                "a86baca2.ea281",
                "cbbeab92.e0e518"
            ]
        ]
    },
    {
        "id": "9e17c7b6.ec2668",
        "type": "function",
        "z": "ca79fc01.131a7",
        "name": "OSC -> Text",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length===0) {\n    msg.payload = msg.topic;\n} else if (isNumeric(msg.payload)) {\n    msg.payload = msg.topic + ' = ' + msg.payload;\n} else {\n    msg.payload = msg.topic + ' = \"' + msg.payload + '\"';\n}\nreturn msg;\n\nfunction isNumeric(n) {\n  return !isNaN(parseFloat(n)) && isFinite(n);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "49211cf9.a4b034"
            ]
        ]
    },
    {
        "id": "652d6803.9c9708",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 310,
        "y": 220,
        "wires": []
    },
    {
        "id": "a86baca2.ea281",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "f06f122a.27b2b",
        "type": "udp in",
        "z": "ca79fc01.131a7",
        "name": "",
        "iface": "",
        "port": "3035",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "cd6ba212.77e97",
                "7ca212f0.18438c"
            ]
        ]
    },
    {
        "id": "bb1836cb.f8bc28",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "cd6ba212.77e97",
        "type": "osc",
        "z": "ca79fc01.131a7",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "d1f65976.467428",
                "504944b1.d8ae2c"
            ]
        ]
    },
    {
        "id": "d1f65976.467428",
        "type": "function",
        "z": "ca79fc01.131a7",
        "name": "OSC -> Text",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length===0) {\n    msg.payload = msg.topic;\n} else if (isNumeric(msg.payload)) {\n    msg.payload = msg.topic + ' = ' + msg.payload;\n} else {\n    msg.payload = msg.topic + ' = \"' + msg.payload + '\"';\n}\nreturn msg;\n\nfunction isNumeric(n) {\n  return !isNaN(parseFloat(n)) && isFinite(n);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "bb1836cb.f8bc28"
            ]
        ]
    },
    {
        "id": "7ca212f0.18438c",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "504944b1.d8ae2c",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "d8725902.e1a098",
        "type": "inject",
        "z": "ca79fc01.131a7",
        "name": "",
        "topic": "/etc/discovery/request",
        "payload": "[{\"type\":\"i\",\"value\":3035},{\"type\":\"s\",\"value\":\"OSC Remote Discovery\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "4f598cdc.b5e8c4",
                "2d8fe834.711728"
            ]
        ]
    },
    {
        "id": "4f598cdc.b5e8c4",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "2d8fe834.711728",
        "type": "osc",
        "z": "ca79fc01.131a7",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "23fe9f5f.22f24",
                "58201e4a.d6317"
            ]
        ]
    },
    {
        "id": "23fe9f5f.22f24",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "58201e4a.d6317",
        "type": "udp out",
        "z": "ca79fc01.131a7",
        "name": "",
        "addr": "10.101.100.101",
        "iface": "",
        "port": "3034",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "7fd3ae07.44ad8",
        "type": "inject",
        "z": "ca79fc01.131a7",
        "name": "",
        "topic": "/etc/discovery/request",
        "payload": "[{\"type\":\"i\",\"value\":3035},{\"type\":\"s\",\"value\":\"RFR OSC Discovery\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "4f598cdc.b5e8c4",
                "2d8fe834.711728"
            ]
        ]
    },
    {
        "id": "cbbeab92.e0e518",
        "type": "function",
        "z": "ca79fc01.131a7",
        "name": "",
        "func": "msg.port = msg.payload[0];\nmsg.topic = \"/etc/discovery/reply\";\nmsg.payload = [\n     { \"type\":\"i\", \"value\":2032 },\n     { \"type\":\"s\", \"value\":\"OSC Remote - DRT\" }\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "cf99271b.24bdb8",
                "d82052a8.6d18e"
            ]
        ]
    },
    {
        "id": "d82052a8.6d18e",
        "type": "osc",
        "z": "ca79fc01.131a7",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "fd24fd25.f92c5"
            ]
        ]
    },
    {
        "id": "cf99271b.24bdb8",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "48bf3aca.e62ea4",
        "type": "udp out",
        "z": "ca79fc01.131a7",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "3a0b6248.2448be",
        "type": "tcp in",
        "z": "ca79fc01.131a7",
        "name": "",
        "server": "server",
        "host": "",
        "port": "3032",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "7867823c.011c8c",
                "e2dd7a09.06be18"
            ]
        ]
    },
    {
        "id": "7867823c.011c8c",
        "type": "osc",
        "z": "ca79fc01.131a7",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "1a3ecda7.a2be52",
                "a850eb25.da5968"
            ]
        ]
    },
    {
        "id": "e2dd7a09.06be18",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 330,
        "y": 460,
        "wires": []
    },
    {
        "id": "1a3ecda7.a2be52",
        "type": "function",
        "z": "ca79fc01.131a7",
        "name": "OSC -> Text",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length===0) {\n    msg.payload = msg.topic;\n} else if (isNumeric(msg.payload)) {\n    msg.payload = msg.topic + ' = ' + msg.payload;\n} else {\n    msg.payload = msg.topic + ' = \"' + msg.payload + '\"';\n}\nreturn msg;\n\nfunction isNumeric(n) {\n  return !isNaN(parseFloat(n)) && isFinite(n);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "5d36cba8.ce65d4"
            ]
        ]
    },
    {
        "id": "a850eb25.da5968",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "5d36cba8.ce65d4",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "4761d4f.1d0f92c",
        "type": "tcp in",
        "z": "ca79fc01.131a7",
        "name": "",
        "server": "server",
        "host": "",
        "port": "3036",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 160,
        "y": 600,
        "wires": [
            [
                "9e97ed3f.6ff2",
                "73e4f0e7.5ad3f"
            ]
        ]
    },
    {
        "id": "bfcc7c74.f2051",
        "type": "osc",
        "z": "ca79fc01.131a7",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "e5b73fee.59c3b",
                "877c5a76.6c7058"
            ]
        ]
    },
    {
        "id": "9e97ed3f.6ff2",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 330,
        "y": 560,
        "wires": []
    },
    {
        "id": "e5b73fee.59c3b",
        "type": "function",
        "z": "ca79fc01.131a7",
        "name": "OSC -> Text",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length===0) {\n    msg.payload = msg.topic;\n} else if (isNumeric(msg.payload)) {\n    msg.payload = msg.topic + ' = ' + msg.payload;\n} else {\n    msg.payload = msg.topic + ' = \"' + msg.payload + '\"';\n}\nreturn msg;\n\nfunction isNumeric(n) {\n  return !isNaN(parseFloat(n)) && isFinite(n);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 600,
        "wires": [
            [
                "502f2cdf.8d4eb4"
            ]
        ]
    },
    {
        "id": "877c5a76.6c7058",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "502f2cdf.8d4eb4",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 990,
        "y": 560,
        "wires": []
    },
    {
        "id": "dc72511.39fbeb",
        "type": "tcp in",
        "z": "ca79fc01.131a7",
        "name": "",
        "server": "server",
        "host": "",
        "port": "1947",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 160,
        "y": 940,
        "wires": [
            [
                "1460f2bc.b158dd",
                "95c5c519.c16de8"
            ]
        ]
    },
    {
        "id": "1460f2bc.b158dd",
        "type": "osc",
        "z": "ca79fc01.131a7",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 370,
        "y": 940,
        "wires": [
            [
                "36823b70.bf5864",
                "ada854a2.0153c8"
            ]
        ]
    },
    {
        "id": "95c5c519.c16de8",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 330,
        "y": 900,
        "wires": []
    },
    {
        "id": "36823b70.bf5864",
        "type": "function",
        "z": "ca79fc01.131a7",
        "name": "OSC -> Text",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length===0) {\n    msg.payload = msg.topic;\n} else if (isNumeric(msg.payload)) {\n    msg.payload = msg.topic + ' = ' + msg.payload;\n} else {\n    msg.payload = msg.topic + ' = \"' + msg.payload + '\"';\n}\nreturn msg;\n\nfunction isNumeric(n) {\n  return !isNaN(parseFloat(n)) && isFinite(n);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 940,
        "wires": [
            [
                "775845f6.5a6ecc"
            ]
        ]
    },
    {
        "id": "ada854a2.0153c8",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 900,
        "wires": []
    },
    {
        "id": "775845f6.5a6ecc",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 900,
        "wires": []
    },
    {
        "id": "fd24fd25.f92c5",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "73e4f0e7.5ad3f",
        "type": "function",
        "z": "ca79fc01.131a7",
        "name": "split OSC-over-TCP v.1.0",
        "func": "node.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"last block: N/A, total: 0\"});\n});\n\nvar i=0;\nvar output=[];\nwhile (i < msg.payload.length) {\n    var len = (msg.payload[i]<<24) + (msg.payload[i+1]<<16) + (msg.payload[i+2]<<8) + msg.payload[i+3];\n    i += 4;\n    // var buf = Buffer.allocUnsafe(len);\n    var buf = new Buffer(len);\n    msg.payload.copy(buf,0,i,i+len);\n    // output.push({payload:buf, filename:\"/home/pi/osc/msg\"+output.length+\".dat\"});\n    output.push({payload:buf});\n    i += len;\n}\nvar count=context.get(\"count\")||0;\ncount+=output.length;\ncontext.set(\"count\",count);\nnode.status({text:\"last block: \"+output.length+\", total: \"+count});\nreturn [ output ];",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 600,
        "wires": [
            [
                "bfcc7c74.f2051",
                "9bf96511.03e4f8"
            ]
        ]
    },
    {
        "id": "9bf96511.03e4f8",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 560,
        "wires": []
    },
    {
        "id": "fd8083b0.b68f5",
        "type": "tcp in",
        "z": "ca79fc01.131a7",
        "name": "",
        "server": "server",
        "host": "",
        "port": "2032",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 160,
        "y": 720,
        "wires": [
            [
                "7c8969e2.af2888",
                "2b0420a6.38774"
            ]
        ]
    },
    {
        "id": "7c8969e2.af2888",
        "type": "osc",
        "z": "ca79fc01.131a7",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 370,
        "y": 720,
        "wires": [
            [
                "451d3257.f9596c",
                "b07d172f.795d68"
            ]
        ]
    },
    {
        "id": "2b0420a6.38774",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 330,
        "y": 680,
        "wires": []
    },
    {
        "id": "451d3257.f9596c",
        "type": "function",
        "z": "ca79fc01.131a7",
        "name": "OSC -> Text",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length===0) {\n    msg.payload = msg.topic;\n} else if (isNumeric(msg.payload)) {\n    msg.payload = msg.topic + ' = ' + msg.payload;\n} else {\n    msg.payload = msg.topic + ' = \"' + msg.payload + '\"';\n}\nreturn msg;\n\nfunction isNumeric(n) {\n  return !isNaN(parseFloat(n)) && isFinite(n);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 720,
        "wires": [
            [
                "dfa76515.9248f8"
            ]
        ]
    },
    {
        "id": "b07d172f.795d68",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 680,
        "wires": []
    },
    {
        "id": "dfa76515.9248f8",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "60f81921.77e078",
        "type": "tcp in",
        "z": "ca79fc01.131a7",
        "name": "",
        "server": "server",
        "host": "",
        "port": "2036",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 160,
        "y": 820,
        "wires": [
            [
                "477aa7ba.d338b8",
                "aa65ef68.2d1a1"
            ]
        ]
    },
    {
        "id": "86492de5.45dd1",
        "type": "osc",
        "z": "ca79fc01.131a7",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "d63289e5.3f7878",
                "7b3e95ee.d88ecc"
            ]
        ]
    },
    {
        "id": "477aa7ba.d338b8",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 330,
        "y": 780,
        "wires": []
    },
    {
        "id": "d63289e5.3f7878",
        "type": "function",
        "z": "ca79fc01.131a7",
        "name": "OSC -> Text",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length===0) {\n    msg.payload = msg.topic;\n} else if (isNumeric(msg.payload)) {\n    msg.payload = msg.topic + ' = ' + msg.payload;\n} else {\n    msg.payload = msg.topic + ' = \"' + msg.payload + '\"';\n}\nreturn msg;\n\nfunction isNumeric(n) {\n  return !isNaN(parseFloat(n)) && isFinite(n);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 820,
        "wires": [
            [
                "de1a25b5.e35338"
            ]
        ]
    },
    {
        "id": "7b3e95ee.d88ecc",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 780,
        "wires": []
    },
    {
        "id": "de1a25b5.e35338",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 990,
        "y": 780,
        "wires": []
    },
    {
        "id": "aa65ef68.2d1a1",
        "type": "function",
        "z": "ca79fc01.131a7",
        "name": "split OSC-over-TCP v.1.0",
        "func": "node.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"last block: N/A, total: 0\"});\n});\n\nvar i=0;\nvar output=[];\nwhile (i < msg.payload.length) {\n    var len = (msg.payload[i]<<24) + (msg.payload[i+1]<<16) + (msg.payload[i+2]<<8) + msg.payload[i+3];\n    i += 4;\n    // var buf = Buffer.allocUnsafe(len);\n    var buf = new Buffer(len);\n    msg.payload.copy(buf,0,i,i+len);\n    // output.push({payload:buf, filename:\"/home/pi/osc/msg\"+output.length+\".dat\"});\n    output.push({payload:buf});\n    i += len;\n}\nvar count=context.get(\"count\")||0;\ncount+=output.length;\ncontext.set(\"count\",count);\nnode.status({text:\"last block: \"+output.length+\", total: \"+count});\nreturn [ output ];",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 820,
        "wires": [
            [
                "86492de5.45dd1",
                "9484d5ab.f55588"
            ]
        ]
    },
    {
        "id": "9484d5ab.f55588",
        "type": "debug",
        "z": "ca79fc01.131a7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 780,
        "wires": []
    },
    {
        "id": "8c7f1a3c.591818",
        "type": "function",
        "z": "b2bf3a30.c27e68",
        "name": "Counter",
        "func": "node.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"last block: N/A, total: 0\"});\n});\n\nvar count=context.get(\"count\")||0;\ncount+=1;\ncontext.set(\"count\",count);\nnode.status({text:\"total: \"+count});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "9b9cdfe4.5d4e1"
            ]
        ]
    },
    {
        "id": "809501fc.734ef",
        "type": "function",
        "z": "d91d3fb4.1bfc7",
        "name": "'osc' message",
        "func": "msg.payload = {\n  type: \"osc\",\n  address: msg.topic,\n  parameters: [msg.payload]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 80,
        "wires": [
            [
                "6fef2341.976fdc"
            ]
        ]
    },
    {
        "id": "6fef2341.976fdc",
        "type": "json",
        "z": "d91d3fb4.1bfc7",
        "name": "",
        "x": 370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8248f906.4e10c8",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "1d216f50.167a81",
        "type": "tcp in",
        "z": "9ebef505.81b038",
        "name": "",
        "server": "client",
        "host": "10.101.100.101",
        "port": "3036",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "!",
        "topic": "",
        "base64": false,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "8248f906.4e10c8",
                "c148c4f6.6b9228"
            ]
        ]
    },
    {
        "id": "25254f6e.8762a",
        "type": "function",
        "z": "2f6c2edb.691352",
        "name": "Store Session",
        "func": "flow.set(\"tcp-session\",msg._session);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 80,
        "wires": [
            [
                "f708c2cd.db799"
            ]
        ]
    },
    {
        "id": "f708c2cd.db799",
        "type": "function",
        "z": "2f6c2edb.691352",
        "name": "split OSC-over-TCP v.1.0",
        "func": "//node.on('close', function() {\n//    node.status({fill:\"grey\",shape:\"ring\",text:\"last block: N/A, total: 0\"});\n//});\n\nvar i=0;\nvar output=[];\nwhile (i < msg.payload.length) {\n    var len = (msg.payload[i]<<24) + (msg.payload[i+1]<<16) + (msg.payload[i+2]<<8) + msg.payload[i+3];\n    i += 4;\n    // var buf = Buffer.allocUnsafe(len);\n    var buf = new Buffer(len);\n    msg.payload.copy(buf,0,i,i+len);\n    // output.push({payload:buf, filename:\"/home/pi/osc/msg\"+output.length+\".dat\"});\n    output.push({payload:buf});\n    i += len;\n}\n\n//var count=context.get(\"count\")||0;\n//count+=output.length;\n//context.set(\"count\",count);\n//node.status({text:\"last block: \"+output.length+\", total: \"+count});\n\nreturn [ output ];",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "d2516141.432b8"
            ]
        ]
    },
    {
        "id": "d2516141.432b8",
        "type": "osc",
        "z": "2f6c2edb.691352",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 570,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fd849a70.a82f58",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "/eos/out/active/cue/text",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1040,
        "y": 120,
        "wires": []
    },
    {
        "id": "230c5a46.36ca46",
        "type": "subflow:d91d3fb4.1bfc7",
        "z": "9ebef505.81b038",
        "name": "",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "1f18cb57.8c2ca5"
            ]
        ]
    },
    {
        "id": "e8b55664.883848",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "890cc00c.ada35",
        "type": "osc",
        "z": "20339bd4.4031d4",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "c7376d19.5276b"
            ]
        ]
    },
    {
        "id": "c7376d19.5276b",
        "type": "function",
        "z": "20339bd4.4031d4",
        "name": "format OSC-over-TCP v.1.0",
        "func": "//node.on('close', function() {\n//    node.status({fill:\"grey\",shape:\"ring\",text:\"total: 0\"});\n//});\n\nvar len = msg.payload.length;\n// var buf = Buffer.allocUnsafe(len);\nvar buf = new Buffer(len+4);\n// [i]<<24) + (msg.payload[i+1]<<16) + (msg.payload[i+2]<<8) + msg.payload[i+3];\nbuf[0] = (len>>24) & 255;\nbuf[1] = (len>>16) & 255;\nbuf[2] = (len>>8) & 255;\nbuf[3] = len & 255;\nmsg.payload.copy(buf,4,0,len);\nmsg.payload = buf;\n\n//var count=context.get(\"count\")||0;\n//count++;\n//context.set(\"count\",count);\n//node.status({text:\"total: \"+count});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "21fc315b.3b819e"
            ]
        ]
    },
    {
        "id": "21fc315b.3b819e",
        "type": "function",
        "z": "20339bd4.4031d4",
        "name": "Recall TCP Session",
        "func": "var session = flow.get(\"tcp-session\") || false;\nif ( session ) msg._session = session;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8b12c1da.672aa",
        "type": "tcp out",
        "z": "9ebef505.81b038",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "c52da808.0f28a8",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "c148c4f6.6b9228",
        "type": "subflow:2f6c2edb.691352",
        "z": "9ebef505.81b038",
        "name": "",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "230c5a46.36ca46",
                "b9d93e1a.82044",
                "2dd7b345.7e86fc"
            ]
        ]
    },
    {
        "id": "7907a650.dd2008",
        "type": "subflow:20339bd4.4031d4",
        "z": "9ebef505.81b038",
        "name": "",
        "x": 570,
        "y": 460,
        "wires": [
            [
                "8b12c1da.672aa",
                "c52da808.0f28a8"
            ]
        ]
    },
    {
        "id": "a21f844b.e50ae8",
        "type": "comment",
        "z": "9ebef505.81b038",
        "name": "EOS Ion IP notes",
        "info": "IP address: 10.101.100.101\n\nOSC TCP port: 3032\n\naRFR (OSC) port: 3036\n",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "7611154a.b79bbc",
        "type": "inject",
        "z": "9ebef505.81b038",
        "name": "Power on the ION",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "6b2510e5.1dc3"
            ]
        ]
    },
    {
        "id": "f172d4e.7644c28",
        "type": "ping",
        "z": "9ebef505.81b038",
        "name": "Ping the ION",
        "host": "10.101.100.101",
        "timer": "20",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "5ef7093f.7a2e88"
            ]
        ]
    },
    {
        "id": "5ef7093f.7a2e88",
        "type": "function",
        "z": "9ebef505.81b038",
        "name": "Ion Power state",
        "func": "node.on('close', function() {\n    node.status({fill:\"grey\",shape:\"ring\",text:\"Unknown\"});\n});\n\nvar power = flow.get(\"eos_power\") || null;\nvar output = [];\nvar store=global.get(\"osc-store\") || {};\nvar old_store = store;\n\noutput.push({topic:'/osc/ping/ion', payload:msg.payload});\n\nif (msg.payload === false) {\n    if (power === \"Off\") {\n        // Ion is off, but we already know that...\n        node.status({text:\"Off - Ping failed\",fill:\"red\",shape:\"ring\"});\n    } else {\n        // Ion has just turned off\n        node.status({text:\"Off - Ping failed\",fill:\"red\",shape:\"dot\"});\n        flow.set(\"eos_power\",\"Off\");\n        // Clear 'stored' values\n        for (var addr in store) {\n            output.push( {\n                topic: addr,\n                payload: \"\",\n            } );\n            store[addr]=\"\";\n        }\n        output.push({topic:'/osc/eos/state', payload:'Off'});\n        global.set(\"osc-store\", store);\n    }\n} else {\n    if (power === \"On\") {\n        // Ion is on, but we already know that...\n        node.status({text:\"On - Ping time: \"+msg.payload+\"ms\",fill:\"green\",shape:\"ring\"});\n    } else {\n        // Ion has just turned on\n        node.status({text:\"On - Ping time: \"+msg.payload+\"ms\",fill:\"green\",shape:\"dot\"});\n        flow.set(\"eos_power\",\"On\");\n        output.push({topic:'/osc/eos/state', payload:'On'});\n    }\n}\n\nreturn [ output, [ {topic: 'old osc-store[]', payload: old_store} ], [ {topic: 'osc-store[]', payload: store} ] ];",
        "outputs": "3",
        "noerr": 0,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "36d09dd9.3490a2",
                "230c5a46.36ca46"
            ],
            [
                "74c1638c.ec163c"
            ],
            [
                "e87eb728.4f5b78"
            ]
        ]
    },
    {
        "id": "36d09dd9.3490a2",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "b9d93e1a.82044",
        "type": "function",
        "z": "9ebef505.81b038",
        "name": "Store recent information",
        "func": "/*\nif (msg.topic == \"/eos/out/active/cue/text\") flow.set(\"/eos/out/active/cue/text\",msg.payload);\nif (msg.topic == \"/eos/out/user\") flow.set(\"/eos/out/user\",msg.payload);\nif (msg.topic == \"/eos/out/event/state\") flow.set(\"/eos/out/event/state\",msg.payload);\nif (msg.topic == \"/eos/out/show/name\") flow.set(\"/eos/out/show/name\",msg.payload);\n*/\nvar store = global.get(\"osc-store\") || {};\n\ncheck_addr(\"/eos/out/user\");\ncheck_addr(\"/eos/out/event/state\");\ncheck_addr(\"/eos/out/event/locked\");\ncheck_addr(\"/eos/out/show/name\");\ncheck_addr(\"/eos/out/cmd\");\ncheck_addr(\"/eos/out/active/chan\");\ncheck_addr(\"/eos/out/active/cue/text\");\ncheck_addr(\"/eos/out/active/cue\");\ncheck_addr(\"/eos/out/pending/cue/text\");\n\nglobal.set(\"osc-store\",store);\n// msg.payload = store;\n// return msg;\n\nfunction check_addr(addr) {\n    // if (msg.topic == addr) flow.set(addr,msg.payload);\n    if (msg.topic == addr) store[addr]=msg.payload;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "92d1f864.5b90d8",
        "type": "function",
        "z": "9ebef505.81b038",
        "name": "/osc/init : Recall information",
        "func": "var output=[];\nvar store=global.get(\"osc-store\") || {};\nvar val, addr;\nvar power = flow.get(\"eos_power\") || null;\n\nif (power !== null) {\n    output.push( {\n        topic: '/osc/eos/state',\n        payload: power,\n    } );\n}\n\nfor (var addr in store) {\n    output.push( {\n        topic: addr,\n        payload: store[addr],\n    } );\n}\n\nreturn [ output, [ {topic: 'osc-store[]', payload: store} ] ];",
        "outputs": "2",
        "noerr": 0,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "230c5a46.36ca46",
                "43f7a41d.6b8d4c"
            ],
            [
                "bdcfd05f.aacef"
            ]
        ]
    },
    {
        "id": "f29416e1.4b32d8",
        "type": "switch",
        "z": "9ebef505.81b038",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/osc/ping",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/osc/init",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/osc/wol",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "da64d4f3.1440e8"
            ],
            [
                "92d1f864.5b90d8"
            ],
            [
                "6b2510e5.1dc3"
            ],
            [
                "7907a650.dd2008"
            ]
        ]
    },
    {
        "id": "da64d4f3.1440e8",
        "type": "function",
        "z": "9ebef505.81b038",
        "name": "/osc/ping : Pong",
        "func": "msg.topic = \"/osc/pong\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "230c5a46.36ca46"
            ]
        ]
    },
    {
        "id": "6b2510e5.1dc3",
        "type": "wake on lan",
        "z": "9ebef505.81b038",
        "mac": "20:25:64:7B:2B:33",
        "host": "10.101.255.255",
        "name": "",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "bc411802.af0098",
        "type": "json",
        "z": "3022915b.90229e",
        "name": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "4042c583.30152c"
            ]
        ]
    },
    {
        "id": "4042c583.30152c",
        "type": "function",
        "z": "3022915b.90229e",
        "name": "to OSC style",
        "func": "msg.raw = msg.payload;\nmsg.topic = msg.raw.address;\nmsg.payload = msg.raw.parameters[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e97464c8.83a088",
        "type": "subflow:3022915b.90229e",
        "z": "9ebef505.81b038",
        "name": "",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "f29416e1.4b32d8",
                "e8b55664.883848"
            ]
        ]
    },
    {
        "id": "1f18cb57.8c2ca5",
        "type": "websocket out",
        "z": "9ebef505.81b038",
        "name": "",
        "server": "6caf20e6.a42ae",
        "client": "",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "b4921553.0c9cc8",
        "type": "websocket in",
        "z": "9ebef505.81b038",
        "name": "",
        "server": "6caf20e6.a42ae",
        "client": "",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "e97464c8.83a088"
            ]
        ]
    },
    {
        "id": "854406e0.8983a8",
        "type": "status",
        "z": "9ebef505.81b038",
        "name": "TCP status",
        "scope": [
            "1d216f50.167a81"
        ],
        "x": 80,
        "y": 480,
        "wires": [
            [
                "ad4cf1c0.ee87d"
            ]
        ]
    },
    {
        "id": "ad4cf1c0.ee87d",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "TCP status",
        "active": false,
        "console": "false",
        "complete": "status.text",
        "x": 240,
        "y": 480,
        "wires": []
    },
    {
        "id": "2dd7b345.7e86fc",
        "type": "switch",
        "z": "9ebef505.81b038",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/eos/out/ping",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/eos/out/active/chan",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/eos/out/active/cue/text",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/eos/out/cmd",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 5,
        "x": 830,
        "y": 60,
        "wires": [
            [
                "38d0bace.be4596"
            ],
            [
                "84938bbb.e63158"
            ],
            [
                "fd849a70.a82f58"
            ],
            [
                "28666e76.732e02"
            ],
            [
                "c3b3d947.f7ea38"
            ]
        ]
    },
    {
        "id": "38d0bace.be4596",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "/eos/out/ping",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1010,
        "y": 40,
        "wires": []
    },
    {
        "id": "84938bbb.e63158",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "/eos/out/active/chan",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1040,
        "y": 80,
        "wires": []
    },
    {
        "id": "28666e76.732e02",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "/eos/out/cmd",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "c3b3d947.f7ea38",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "Other OSC messages",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "f21551e4.3920e",
        "type": "function",
        "z": "9ebef505.81b038",
        "name": "Recall Store",
        "func": "var output=[];\nvar store=global.get(\"osc-store\") || {};\nvar val, addr;\n\nfor (var addr in store) {\n    output.push( {\n        topic: addr,\n        payload: store[addr],\n    } );\n}\n\nreturn [ output, [ {topic: 'osc-store[]', payload: store} ] ];",
        "outputs": "2",
        "noerr": 0,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "33187d4c.4c1762"
            ],
            [
                "60aa416f.81b43"
            ]
        ]
    },
    {
        "id": "f311618f.20491",
        "type": "inject",
        "z": "9ebef505.81b038",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 580,
        "wires": [
            [
                "f21551e4.3920e"
            ]
        ]
    },
    {
        "id": "33187d4c.4c1762",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "43f7a41d.6b8d4c",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "bdcfd05f.aacef",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "osc-store[]",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "74c1638c.ec163c",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "Old osc-store[]",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "e87eb728.4f5b78",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "osc-store[]",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "624eb63c.ed8b58",
        "type": "function",
        "z": "9ebef505.81b038",
        "name": "Clear Store",
        "func": "var store=global.get(\"osc-store\") || {};\n\nglobal.set(\"osc-store\",{});\n\nreturn [ [ {topic: 'Old osc-store[]', payload: store} ] ];",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 660,
        "wires": [
            [
                "d8a6588e.b4dc98"
            ]
        ]
    },
    {
        "id": "84192d69.add56",
        "type": "inject",
        "z": "9ebef505.81b038",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 660,
        "wires": [
            [
                "624eb63c.ed8b58"
            ]
        ]
    },
    {
        "id": "d8a6588e.b4dc98",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "Old osc-store[]",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 620,
        "y": 660,
        "wires": []
    },
    {
        "id": "60aa416f.81b43",
        "type": "debug",
        "z": "9ebef505.81b038",
        "name": "osc-store[]",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 610,
        "y": 600,
        "wires": []
    }
]